.home-gallery {
	.section_content-wrapper {
		.card_section-item-inner{
			position: relative;
			overflow: hidden;
		}
	}
	.card_section-content {
		padding: var(--gutter-sm);
		z-index: layer(card_section-content);
	}	
	.card_section-text-1 {
		@include fw-600;
		@include font-size-big;
		text-transform: uppercase;
	}
	.card_section-text-2 {
		margin-bottom: 16px;
	}
	.card_section-button {
		.btn {
			padding: 6px 35px;
			@include font-small;
		}
	}
	.section_content-body {
		.d-grid {
			.card_section-item {
				&:not(:last-child) {
					@include border-bottom;
					@media (min-width: 768px) {
						border-bottom: none;
						position: relative;
						&:after {
							content: '';
							width: 1px;
							background: var(--body-border-color);
							@include ab(0, n, 0, 0);
						}	
					}
				}
			}		
		}
	}
}

/* Section Icon List*/
.home-icon-list {
	.slider-container {
		text-align: center;		
		.js-slider-controls {
			> a {
				> span {
					display: none;
				}
			}
		}
		.slider-wrapper {
			margin: 0 auto;	
			position: relative;					
			@media (min-width: 768px) {
				width: 80%;
				padding: 0 5%;
			}
			@media (min-width: 1440px) {
				width: 70%;
			}
		}
	}
	.card_section-item {		
		.card_section-figure {
			display: flex;
			justify-content: center;
		}
	}
}