.home-gallery {
	.section_content-wrapper {
		.card_section-item-inner{
			position: relative;
			overflow: hidden;
		}
	}
	.card_section-content {
		padding: var(--gutter-sm);
		z-index: layer(card_section-content);
	}	
	.card_section-text-1 {
		@include fw-600;
		@include font-size-big;
		text-transform: uppercase;
		+ .card_section-button {
			margin-top: 13px;
		}	
	}
	.card_section-text-2 {
		margin-bottom: 12px;
		@media (min-width: 768px) {
			margin-bottom: 17px;
		}
	}
	.card_section-button {
		.btn {			
			@include custom-btn;
		}
	}
	.section_content-body {
		.d-grid {
			.card_section-item {
				&:not(:last-child) {
					@include border-bottom;
					@media (min-width: 768px) {
						border-bottom: none;
						position: relative;
						&:after {
							content: '';
							width: 1px;
							background: var(--body-border-color);
							@include ab(0, n, 0, 0);
						}	
					}
				}
			}		
		}
	}
	.card_section-figure {
		@media (max-width: 767px) {
			.image__style {
				padding-top: 460px !important;
				img {
					object-fit: cover;
				}
			}
		}
	}
}

/* Section Icon List*/
.home-icon-list {
	.section_content-wrapper {
		position: relative;		
	}
	.js-slider-controls {		
		.js-prev-button {
			@media (min-width: 768px) {
				left: 10%;
			}
			@media (min-width: 1440px) {
				left: 15%;
			}
		}
		.js-next-button {
			@media (min-width: 768px) {
				right: 10%;
			}
			@media (min-width: 1440px) {
				right: 15%;
			}
		}
	}
	.slider-container {
		text-align: center;				
		.js-slider-controls {
			> a {
				top: -8px;
				> span {
					display: none;
				}
			}
		}
		.slider-wrapper {
			margin: 0 auto;							
			@media (min-width: 768px) {
				width: 80%;
				padding: 0 5%;
			}
			@media (min-width: 1440px) {
				width: 70%;
			}
		}
	}
	.section_content-body {
		.slider-container {			
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
	.card_section-item {		
		.card_section-figure {
			display: flex;
			justify-content: center;
		}
	}
	.slider-item {
		.icon {
			text-align: center;
			margin: 1rem auto auto;
			max-width: 270px;
			@media (min-width: 768px) {
				display: none;				
			}
			@media (max-width: 767px) {
				svg {
					max-width: 100%;
				}
			}
		}
	}
}