.blog-list-content {
	> h4 {
		@include custom-block-heading;
	}
}
.blog-list {
	overflow: hidden;		
	&.grid-md-3 {		
		article:nth-child(3n + 3) {			
			.item {
				@media (min-width: 768px) {
					&:after {
						content: none;
					}
				}
			}			
		}
	}
	.item {
		padding: 1.5rem;
		@include border-top;
		margin-top: -1px;
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		@media (min-width: 768px) {
			&:after {
				@include after-border;
			}
		}		
		@media (min-width: 1200px) {
			padding: 45px 45px 36.6px;
		}
		.info {
			padding: 1.25rem 0 0;
			@media (min-width: 1200px) {
				padding-top: 30.8px;
			}
			h3 {
				margin: 0 0 5px;				
				@include font-size-small;
			}
			.meta-tag {
				text-transform: uppercase;
				margin: 0 0 15px;
				font-weight: 400;
				@include font-small;
			}
			.btn {
				@include custom-btn;
				@media (max-width: 991px) {
					font-size: calc(var(--body-13) - 1px);
					padding: 1px 35px;
					line-height: 25px;
				}
			}
		}
	}
}