.home-categories {
	.section_content-body {
		position: relative;
		@include border-top;
	}
	.d-grid {
		.card_section-item {
			&:not(:last-child) {
				@include border-bottom;
				@media (min-width: 768px) {
					border-bottom: none;
					position: relative;
					&:after {
						content: '';
						width: 1px;
						background: var(--body-border-color);
						@include ab(0, n, 0, 0);
					}					
				}
			}
		}
	}
	.card_section-item-inner {
		position: relative;		
		.card_section-header {
			.image__style {
				padding-top: 125% !important;
			}
		}
	}
	.card_section-body {
	 	@include ab(n, 0, 0, n);	 
	 	z-index: 2;	 	
		padding: 1.625rem;
		@media (min-width: 1200px) {			
			padding: 3.375rem 3rem;
		}		
	}
	.card_section-text-1 {		
		margin: 0 0 8px;		
		@include fw-600;
		@include font-size-big;
	}
	.card_section-text-2 {	
		margin: 0 0 10px;
		@media (min-width: 992px) {		
			margin-bottom: 16px;
		}
	}
	.btn {
		@include custom-btn;
	}
	.slider-wrapper {
		.slider-item {
			&:not(:last-child) {
				.card_section-item-inner {
					&:after {
						content: '';
						width: 1px;
						background: var(--body-color);
						@include ab(0, n, 0, 0);
					}	
				}				
			}
		}
	}
}