.faqs-item {
    &:not(:last-child) {
        @include border-bottom;
    }
    .care-item-heading {
        @include font-size-small;
        text-transform: uppercase;				    
        letter-spacing: -1px;    
        height: 3.75rem;        
        padding: 0.625rem 1.75rem 0.625rem 1.563rem;				
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;	
        justify-content: space-between;
        user-select: none;
        @media (min-width: 768px) {
            padding-left: 3rem;
            padding-right: 3rem;					            
            height: 5.625rem;
        }       
        .icon {					
            border: 1px solid var(--body-border-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            width: 1.5rem;
            height: 1.5rem;
            flex: 0 0 1.5rem;
            max-width: 1.5rem;
        }
        svg:nth-child(2) {
            display: none;
        }
    }
    .faqs-item-content {
        @include max-height-zero;	
        @include font-normal;
        padding-left: 1.75rem;
        padding-right: 1.75rem;	
        @media (min-width: 768px) {
            padding-left: 3rem;
            padding-right: 3rem;	
        }
    }
    &.active {
        .care-item-heading svg {
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                display: flex;
            }
        }				
        .faqs-item-content {
            @include max-height-full;
            @include border-top;			
            padding-top: 1.625rem;
            padding-bottom: 1.625rem;		
            @media (min-width: 768px) {
                padding-top: 3.3438rem;
                padding-bottom: 4.375rem;		
            }
            p {
                max-width: 1280px;											
                margin: 0;			
                @include font-size-small;
                &:not(:last-child) {
                    margin-bottom: 20px;
                    @media (min-width: 768px) {
                        margin-bottom: 30px;
                    }
                }
            }	
        }
    }
}
