.section-collection-sidebar {
	background: var(--miscellaneous-color);
	.featured_block {
		position: relative;
		margin: var(--gutter-xxs);
	}
	.section_content-header {
		@media (min-width: 992px) {
			display: none;
		}
	}
}
.featured_block-banner {
	.featured_block-content {
		@include ab(0,0,0,0);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.block_content-text-1 {
		font-size: var(--heading-size-h3);
		color: var(--main-color);
		font-weight: 500;
	}
	.block_content-text-2 {
		font-size: var(--heading-size-h2);
		font-weight: 500;
		color: var(--text-miscellaneous);
	}
	.block_content-text {
		margin-bottom: 20px;
	}
}
.featured_block-filter_group {
	.tags-list {
		overflow-y: auto;
	}
	.tags-list::-webkit-scrollbar-track {
		@extend %webkit-scrollbar-track;
	}
	.tags-list::-webkit-scrollbar {
		@extend %webkit-scrollbar;
	}
	.tags-list::-webkit-scrollbar-thumb {
		@extend %webkit-scrollbar-thumb;
	}
	.direction-column {		
		ul {
			li {
				padding: 5px 0;
				a {
					line-height: 23px;
					@include padding-start(26px); 
					position: relative;
					font-size: var(--body-14);
					color: var(--body-second-color);
					&:before {
						content: "";
						width: 17px;
						height: 17px;
						transition: 0.35s all ease-in-out;
						border: 1px solid var(--body-color);
						@include ab(0,0,n,n);
					}
					&:after {
						content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8'%3E%3Cpath fill='%23fff' d='M9.942 1.35L3.535 7.758 0 4.209l1.353-1.348 2.185 2.193L8.59 0l1.35 1.35z'/%3E%3C/svg%3E");
						@include ab(0,0,n,n);
						display: flex;
						justify-content: center;
						align-items: center;
						width: 17px;
						height: 17px;
						opacity: 0;
					}
				}
				&:hover {
					@media (hover:hover) {
						a {
							color: var(--main-color);
							&:before {
								border-color: var(--main-color);
							}
						}
					}
				}
				&.active {
					a {
						color: var(--main-color);
						&:before {
							background: var(--main-color);
						}
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.direction-row {
		ul {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 0 -6px;
		}
		li {
			padding: 0 6px 10px;
			font-size: var(--body-14);
		}
		&.filter-color ul {
			padding-top: 4px; 
			margin: 0 -2px;
		}
		&[data-prefix=color] {
			li {
				a {
					width: 20px;
					height: 20px;
					display: block;
					font-size: 0;
					position: relative;
					border: 1px solid transparent;
					background: currentColor;
					@extend %radius-circle;
					&:before {
						content: "";
						box-shadow: 0 0 1px 1px currentColor;
						opacity: 0;
						@extend %transition;
						@extend %radius-circle;
						@include ab(-3px,-3px,-3px,-3px);
					}
				}
				&.filterColor-white a {
					border-color: rgba(var(--main-color-rgba),.4);
				}
				&.active, &:hover {
					a {
						&:before {
							opacity: 1;
						}
					}
				}
				&.active {
					a {
						&:after {
							content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8'%3E%3Cpath fill='%23fff' d='M9.942 1.35L3.535 7.758 0 4.209l1.353-1.348 2.185 2.193L8.59 0l1.35 1.35z'/%3E%3C/svg%3E");
							@include ab(n,n,n,n);
							display: flex;
							justify-content: center;
							align-items: center;
							width: 18px;
							height: 18px;
						}
					}
					&.filterColor-white a {
						&:after {
							content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8'%3E%3Cpath fill='#000000' d='M9.942 1.35L3.535 7.758 0 4.209l1.353-1.348 2.185 2.193L8.59 0l1.35 1.35z'/%3E%3C/svg%3E");
						}
					}
				}
			}
		}
		&:not(.filter-color) {
			li {
				padding-bottom: 10px;
				a {
					color: var(--body-second-color);
					border-bottom: 1px solid transparent;
				}
				&.active, &:hover {
					a {
						color: var(--main-color);
						border-bottom: 1px solid var(--main-color);
					}
				}
			}
		}
	}
}
#product-grid-container:empty {
	min-height: 500px;
}
.section-collection-template {
	position: relative;
	margin-bottom: 60px;
	.no-products {
		padding: 0 15px;
	}
	#product-grid-container {
		.text-center {
			text-align: left !important;
		}
	}
	.section_content-body {
		.product-section {
			margin-bottom: 15px;
			padding: 0 10px;
			@media (min-width: 768px) {
				margin-bottom: 30px;
				padding: 0 15px;
			}
		}
		#col-main {
			>.row {
				margin: 0 -10px;
				@media (min-width: 768px) {
					margin: 0 -15px;
				}
			}
		}
	}
}
.product_style-list {
	.section_content-body {
		.featured-product_wrapper {
			display: flex;
			.product-card_header {
				width: 100%;
				max-width: 110px;
				@media (min-width: 768px) {
					max-width: 200px;
				}
			}
			.product-card_body {
				@include margin-start(20px);
				flex: 1;
			}
			.product-card_footer {
				display: block;
				.product-price {
					margin-bottom: var(--gutter-sm);
				}
				.btn-add-to-cart {
					width: 90px;
					height: 40px;
					line-height: 1;
					@extend %radius-4px;
					font-weight: var(--btn1-fw);
					color: var(--btn1-cl);
					background: var(--btn1-bg-cl);
					border: var(--btn1-border-width) solid var(--btn1-border-cl);
					transition: all 0.35s ease-in-out 0s;
					svg {
						path {
							stroke: var(--btn1-cl);
							fill: var(--btn1-cl);
						}
					}
					&:hover {
						@media (hover:hover) {      
							color: var(--btn1-hover-cl);
							background: var(--btn1-hover-bg-cl);
							border-color: var(--btn1-hover-border-cl);
						}
					}
				}
			}
		}	
	}
}
.toolbar-sort-list {
	display: none;
}
#sidebarDrawer {
	@include fixed(0,-100%,n,n);
	width: 100%;
	height: 100vh;
	z-index: layer(sidebarDrawer);
	@extend %transition;
	&.is-open {
		@include left(0);
	}
	.sidebarDrawer-close {
		@include ab(20px,n,n,15px);
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		background: var(--main-color);
		z-index: layer(sidebarDrawer-close);
		svg {
			width: 16px;
			height: 16px;
			path {
				fill: var(--text-miscellaneous);
			}
		}
		&:hover {
			@media (hover:hover) {
				opacity: 0.8;
			}
		}
	}
	.section_content-overlay {
		@extend %transition;
	}
	&.is-open {
		.section_content-overlay {
			width: 100vw;
			height: 100vh;
			background: rgba(0,0,0,.6);
			@include fixed(0,0,n,n);
			@media (min-width: 992px) {
				display: none;
			}
		}
	}
	.section_content-wrapper {
		scrollbar-color: var(--main-color) var(--body-border-color);
		scrollbar-width: thin;
		padding-bottom: 25px;
		position: relative;
		background: var(--miscellaneous-color);
	}
	.section_content-body {
		overflow: hidden;
		overflow-y: auto;
		max-height: 100vh;
		padding: 0 20px 25px;
	}
	.section_content-body::-webkit-scrollbar-track {
		@extend %webkit-scrollbar-track;
	}
	.section_content-body::-webkit-scrollbar {
		@extend %webkit-scrollbar;
	}
	.section_content-body::-webkit-scrollbar-thumb {
		@extend %webkit-scrollbar-thumb;
	}
	@media (min-width: 375px) {
		width: 360px;
	}
}