#breadcrumb {
	&.bg-image {
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 20px;
		@media (min-width: 768px) {
			margin-bottom: 35px;
		}
	}
}
.breadcrumb-list {
	display: flex;
    align-items: center;
    padding: var(--gutter-xs) 0;
    overflow: hidden;
    overflow-x: auto;
    >li {
    	line-height: 30px;
    	font-size: calc(var(--body-font-size) - .15rem);
    	a {
    		white-space: nowrap;
    		color: var(--breadcrumb-color-1);
    		&:hover {
    			color: var(--main-color);
    		}
    	}
    	&.active {
    		a {
    			color: var(--breadcrumb-color-2);
    		}
    	}
    }
    .svg-element-ui {
    	padding: 0 8px;
    	svg {
    		width: 9px;
    		height: 9px;
    	}
    }
    @media (min-width: 992px) {
    	padding: var(--gutter-md) 0;
    }
}
.page-heading {
	margin: 0 0 30px;
	>div {		
		display: flex;
		overflow-y: hidden;
		overflow-x: auto;
	}
	h1 {
		font-size: var(--heading-size-h2);
		font-weight: 600;
		line-height: 36px;
	}
	.collection-title {
		margin-bottom: 12px;
	}
	.collection-des {
		@include border-bottom;
		p {
			color: #5A5858;
			margin: 0 0 20px;
			line-height: 24px;
		}
	}
}
.pagination-holder {
	margin: 50px auto 0;
	.pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		.svg-element-ui {
			svg {
				width: 14px;
				height: 14px;
				path {
					fill: var(--text-miscellaneous);
				}
			}
		}
		li {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				@extend %radius-circle;
			}
			&.active, &:hover {
				a {
					color: var(--main-color);
				}

			}
			&.active {
				a {
					font-weight: 600;
				}
			}
		}
		.next, .prev {
			background: var(--body-color);
			margin: 0 7px;
			&:hover {
				opacity: 0.5;
				path {
					fill: #B5B5B5;
				}
			}
		}
	}
}