.product_style-grid {
    .product-type-content {
        position: relative;
        &:after {
            content: '';
            height: 1px;
            background: var(--body-color);
            @include ab(n, 0, 0, 0);
        }
        .item-image {
            @include border-bottom;
            position: relative;
            @media (min-width: 768px) {
                border-bottom: none;
                height: calc(100vh - 80px);
                .image__style {
                    padding-top: 0 !important;
                    height: 100%;
                    img {
                        object-fit: cover;
                    }
                }
                &:after {
                    @include after-border;
                }
            }
        }
    }
    .item-info {
        .item-info-inner {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 1.563rem 1.625rem 1.875rem;
            margin-bottom: 1.563rem;
            @media (min-width: 768px) {
                padding: 2rem 3rem 4.8rem;
            }
            h1 {
                @include font-size-big;
                text-transform: uppercase;
            }
            .btn {
                margin-top: auto;                
                height: 1.875rem;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (min-width: 768px) {
                    height: 2.5rem;
                }
            }
        }
    }
}
.product-grid-container {
    .product-type-container {
        > h3 {
            @include custom-block-heading;
        }
    }
}
.product-type-content {
    .product-card {
        position: relative;       
        @include border-bottom;                 
    }
    &.grid-2 {
        @media (max-width: 767px) {
            .product-card:not(:nth-child(2n)) {
                &:after {
                    @include after-border;
                }
            }
        }
    }
    &.grid-md-2 {
        .product-card {            
            @media (min-width: 768px) {
                &:not(:nth-child(2n)) {
                     &:after {
                        @include after-border;
                    }
                }
            }    
        }           
    }
    &.grid-md-3 {
        .product-card {       
            @media (min-width: 768px) {                
                &:not(:nth-child(3n)) {
                    &:after {
                        @include after-border;
                    }
                }
            }   
        }             
    }
}