.template-customers-reset_password,
.account-form {
	.form-wrapper,
	#template {
		max-width: 670px;
		margin: 0 auto;
		.heading, .title {
			text-align: center;
			margin: 0 auto 1.875rem;
			text-transform: uppercase;
			@include font-size-medium;
		}
		.note {
			margin: 0 0 20px;
		}
		.form-control {			
			input, .btn {				
				width: 100%;				
				@include font-normal;
				height: 30px;
				@media (min-width: 768px) {
					height: 42px;
				}
			}
			.btn {				
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 100%;
				max-width: 100%;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
			&:not(:last-child) {
				margin-bottom: 1.125rem;      
				@media (min-width: 768px) {
					margin-bottom: 1.875rem;
				}
			}    
		}
		.action {
			margin-bottom: 1.125rem;      
			display: flex;
			align-items: center;
			justify-content: space-between;
			a {
				text-decoration: underline;
				@media (hover : hover) {
					&:hover {
						text-decoration: none;
						color: var(--main-color);
					}
				}
			}
			@media (min-width: 768px) {
				margin-bottom: 1.875rem;
			}
		}
	}
}
.page-account,
#address-container,
.template-customers-reset_password #main-content {
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
	@media (min-width: 768px) {
		padding-top: 6.25rem;
		padding-bottom: 6.25rem;
	}
}
#customer_orders {	
	.page-heading {
		margin-bottom: 30px;
	}
	p {
		margin: 0 0 20px;
	}
 	.orders-detail {
		border: 1px solid var(--body-border-color);
		border-bottom: 0;
		overflow: hidden;
		overflow-x: auto;
	}
	.orders-header {
		display: flex;
		>div {
			flex: 0 0 20%;
			max-width: 20%;
			min-width: 120px;
			padding: 15px;
			background: #eee;
			@include border-bottom;
			&:not(:last-child) {
				border-inline-end-width: 1px;
				border-inline-end-style: solid;
				border-inline-end-color: var(--body-border-color);
			}
		}
	}
	.order-line {
		display: flex;
		>div {
			flex: 0 0 20%;
			max-width: 20%;
			min-width: 120px;
			padding: 20px 15px;
			@include border-bottom;
			&:not(:last-child) {
				border-inline-end-width: 1px;
				border-inline-end-style: solid;
				border-inline-end-color: var(--body-border-color);
			}
			&:first-child, &:last-child >* {
				font-weight: 700;
			}
		}
	}
}
#address_tables {
	margin: 30px 0;
	position: relative;
	@media (min-width: 768px) {
		margin: 60px 0;
	}
	&:after {
		content: '';
		border: 1px solid var(--body-border-color);
		pointer-events: none;
		@include ab(0, 0, 0, 0);
	}
	.row {
		margin: 0;
		> div {
			padding: 0;
		}
	}
	.address_table {
		@include border-right;
		@include border-bottom;
	}
	.customer_address {	
		padding: 1.25rem;		
		.address_title {
			font-size: var(--heading-size-h3);
			margin: 0 0 15px;
		}
		.view_address {
			margin-bottom: 20px;
			table {
				width: 100%;
			}
			tr {
				td {
					padding: 5px 0;
				}				
			}
		}		
	}	
	.pagination-holder {
		padding: 10px 0;
	}
}
#address-container {
	.modal_box {
		@extend %radius-reset;
	}
	.modal_close {
		top: 0;
		right: 0;
		@extend %radius-reset;
	}
	.modal-header, .modal-header h2 {
		text-transform: uppercase;
		text-align: center;
		letter-spacing: -1px;
		margin-bottom: 20px;
	}
	.customer_address_table {
		input {
			height: 42px;
			padding: 5px 10px;
		}
		td {
			padding: 5px 0;
			label {
				margin: 8px 0;
			}
			input[type="checkbox"] {
				height: auto;
				width: auto;
				padding: 0;
				appearance: auto;
				position: relative;
				top: 1px;
				margin-right: 5px;
			}
		}
		select {
			padding: 0 10px;
		}
	}		
}
.order_date {
	margin-bottom: 20px;
	font-weight: 500;
}
#order_address {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
	margin-bottom: 30px;
}
#order_details {
	margin-bottom: 60px;
	text-align: left;
	width: 100%;
	display: block;
	overflow-x: auto;
	display: block; 
	border-spacing: 0px;
	border: 1px solid var(--body-border-color);
	tr th {
		padding: 15px;
		font-weight: 600;
		@include border-bottom;
		&:not(:last-child) {
			border-inline-end-width: 1px;
			border-inline-end-style: solid;
			border-inline-end-color: var(--body-border-color);
		}
	}
	table {
		border-collapse: collapse;
		width: 100%;
	}
	tbody {
		td {
			padding: 10px 15px;
			@include border-bottom;
			&:not(:last-child) {
				border-inline-end-width: 1px;
				border-inline-end-style: solid;
				border-inline-end-color: var(--body-border-color);
			}
		}
		.product {
			min-width: 260px;
			.d-grid {
				align-items: center;
			}
			.product-title {
				padding-inline-start: 10px;
			}
		}
		.sku {
			min-width: 115px;
		}
	}
	tfoot {
		tr td {
			padding: 10px 15px;
		}
		tr:not(:last-child) td {
			@include border-bottom;
		}
		tr td:not(:last-child) {
			border-inline-end-width: 1px;
			border-inline-end-style: solid;
			border-inline-end-color: var(--body-border-color);
		}
	}
	.total {
		font-weight: 600;
	}
	@media (min-width: 768px) {
		display: inline-table;
		tbody {
			.product {
				.product-title {
					padding-inline-start: 20px;
				}
			}
		}
	}
}
#customer_sidebar {
	.action-bottom {
		.btn {
			display: block;
			text-align: center;
			width: 100%;
			margin-bottom: 10px;
			max-width: 290px;
		}
	}
}