.product_details {
	.d-grid {
		@media (min-width: 768px) {
			grid-template-columns: repeat(2,1fr);
		}
	}
	.left-content {
		@include border-bottom;
		@media (min-width: 768px) {
			border-bottom: none;
			@include border-right;
		}
	}
	.right-content {
		padding: 1.563rem 1.625rem;
		@media (min-width: 992px) {
			padding: 2.625rem 3rem;			
		}
		@media (min-width: 1221px) {
			padding: 3.75rem 4.063rem 4.188rem;
		}
	}
	.product_swatch {	
		&:empty {
			display: none;
			+ .product-form {
				flex: 0 0 calc(100% + 3.25rem) !important;
				max-width: calc(100% + 3.25rem) !important;
				margin-left: -1.625rem;
				margin-right: -1.625rem;
				@media (min-width: 992px) {
					flex: 0 0 calc(100% + 6rem) !important;
					max-width: calc(100% + 6rem) !important;
					margin-right: -3rem;
					margin-left: -3rem;
				}	
				@media (min-width: 1221px) {
					flex: 0 0 calc(100% + 8.126rem) !important;
					max-width: calc(100% + 8.126rem) !important;
					margin-right: -4.063rem;
					margin-left: -4.063rem;
				}
			}
		}					
	}	
	.product-media {
		position: relative;
		.media-item {
			position: relative;
		}
		.number-items {
			@include ab(16px, 27px, n, n);
			width: 80px;
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #fff;
			color: #fff;
			font-size: 17px;
			font-weight: 500;
			z-index: 3;
			border-radius: 50%;
			@media (min-width: 992px) {
				width: 100px;
				height: 100px;
				font-size: 22px;
			}
			@media (min-width: 1221px) {
				width: 143px;
				height: 143px;
				font-size: 30px;
				top: 36px;
				left: 46px;
			}
		}
		.image__style {
			padding-top: 100% !important;
		}
		.slider-wrapper {
			position: relative;	
			.js-slider-controls {
				@media (max-width: 767px) {
					display: block;
				}	
				.js-prev-button,
				.js-next-button {
					width: 100%;
					height: 100%;	
					transform: translateY(0) rotate(0);		
					opacity: 0 !important;
					span {
						display: none;
					}
					svg path {
						fill: #fff;
					}
				}
				.js-prev-button {
					display: none;
				}
			}			
		}
	}
	.product-media_thumbnails {		
		@media (min-width: 768px) {
			.media-thumbnails {
				position: relative;	
				&:before {
					content: '';
					width: 100vw;
					z-index: 1;
					@include border-top;	
					@include ab(0, 0, n, n);
				}
			}			
		}
		@media (max-width: 767px) {
			display: flex !important;
			padding: 25px;
			width: 100%;
			z-index: 2;
			@include ab(n, 0, 0, n);
			.media-item {
				width: 8px !important;
				height: 8px;
				border-radius: 50%;
				border: 1px solid var(--body-border-color);
				margin: 3px;
				.image__style {
					display: none !important;
				}
				&.tns-nav-active {
					background: var(--body-border-color);
				}
			}
		}
		.media-item {
			position: relative;
			@media (min-width: 768px) {
				&:after {
					content: '';
					width: 1px;
					background: var(--body-color);
					@include ab(0, n, 0, 0);
				}
			}			
		}
		.js-slider-controls {			
			> a {
				top: calc(50% - 20px);
				display: none;
			}
			.js-next-button {
				transform: rotate(0);
			}				
		}
	}
}
.swatch-list {
	display: flex;
	flex-wrap: wrap;			
	.swatch-item {
		flex: 0 0 100%;
		max-width: 100%;				
		position: relative;
		display: flex;
		align-items: center;	
		// @include border-top;
		@include border-bottom;
		@media (min-width: 992px) {
			flex: 1;
		}
		.swatch-title {
			text-transform: uppercase;
			font-size: calc(var(--body-font-size) - 1px);
			pointer-events: none;
			transform: translateY(-50%);
			display: none;
			@include ab(50%, 18px, n, n);					
			@media (min-width: 992px) {
				display: block;
			}
		}
		.swatch-title-mobile {
			text-transform: uppercase;
			font-size: var(--body-13);
			pointer-events: none;
			transform: translateY(-50%);					
			@include ab(50%, 18px, n, n);						
			@media (min-width: 992px) {
				display: none;
			}
		}
		.select-wrapper {
			display: flex;
			align-items: center;
			position: relative;
			flex: 1;
			select {												
				height: 43px;
				padding: 0 1.625rem;
				text-transform: uppercase;						
				border: none;
				border-radius: 0;						
				@media (min-width: 768px) {
					padding: 0 2.5rem;
					font-size: calc(var(--body-font-size) - 1px);							
				}
				@media (min-width: 992px) {
					padding-left: 110px;
				}
				@media (min-width: 768px) {							
					height: 45px;						
				}
				option {
					padding: 5px 0;
				}						
			}
			.svg_wood {
				@include ab(0, 95px, 0, n);
				width: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				pointer-events: none;
				@media (min-width: 768px) {
					left: 110px;
				}
				@media (min-width: 992px) {
					left: 180px;
				}
			}
			.svg_element-ui {
				@include ab(0, n, 0, 0);
				width: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				pointer-events: none;
				@media (min-width: 768px) {
					right: 10px;
				}
				svg {
					width: 15px;
					height: 7px;
				}
			}
			.wood {
				display: block;
				+ .svg_wood circle {
					fill: #0D7848;
				}
			}
			.citrus {
				display: block;
				+ .svg_wood circle {
					fill: #F8DD06;
				}
			}
			.neutral {
				display: block;
				+ .svg_wood circle {
					fill: #C7C7C7;
				}
			}					
		}
		&:nth-child(2n + 1) {
			@media (min-width: 992px) {
				&:after {
					@include after-border;
				}
			}					
		}
		&:not(:first-child) {
			border-top: none;				
		}
		@media (max-width: 991px) {
			select {
				opacity: 1;
			}
			.swatch-title-mobile {
				opacity: 0;
			}
			&.choose-element {
				select, .svg_wood {
					opacity: 0;
				}						
				.swatch-title-mobile {
					opacity: 1;
				}
			}
		}				
	}
}
.product-wrapper {		
	display: flex;
	flex-wrap: wrap;		
	> * {
		flex: 0 0 100%;
		max-width: 100%;
	
	}	
	.product_swatch, .product-form {
		flex: 0 0 calc(100% +3.25rem);
		max-width: calc(100% + 3.25rem);		
		@media (min-width: 992px) {			
			flex: 0 0 calc(100% + 6rem);
			max-width: calc(100% + 6rem);
		}
		@media (min-width: 1221px) {			
			flex: 0 0 calc(100% + 8.126rem);
			max-width: calc(100% + 8.126rem);
		}
	}
	.product_swatch,
	.product-form {
		margin-left: -1.625rem;			
		margin-right: -1.625rem;			
		@media (min-width: 992px) {			
			margin-left: -3rem;					
			margin-right: -3rem;		
		}
		@media (min-width: 1221px) {
			margin-left: -4.063rem;					
			margin-right: -4.063rem;
		}
	}		
	.product-des {
		margin-bottom: 30px;
		h2 {
			text-transform: uppercase;					
			margin: 0 0 12px;
			@include font-size-small;
			@include font-body;		
		}
		p {
			margin: 0;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	ul {
		li {
			display: flex;
			&:before {
				content: '*';
				margin: 2px 5px 0 0;
			}
		}
	}
	.product-price-step {
		margin: 27px auto 0;
		text-align: center;
	}
	.product_price {
		@include font-size-small;		
		margin: 0 auto 8px;
		display: flex;
		justify-content: center;		
	}	
	.review-link {
		margin-bottom: 17px;
	}
	.btn-next-step {
		width: 100%;
	}	
	.form-group-btn {
		margin-top: 20px;
		.btn {
			width: 100%;
		}
	}
	.previous-page {
		text-align: center;			
			
	}
	.pp-link {
		margin-top: 12px;	
		font-size: 11px;
		text-transform: uppercase;
		text-decoration: underline;		
		display: inline-block;	
		&:not(.active) {
			// display: none;
		}
		@media (hover : hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}	
}
.rc_container_wrapper {
	.rc_container {
		margin: 0;
	}
	.rc_widget__option {
		padding: 0;
		background: none;
	}
	.rc-template__legacy-radio .rc-radio {
		padding: 0;
		background: none;
	}
}
.rc-selling-plans {
	position: relative;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='9' viewBox='0 0 19 9'%3E%3Cpath id='Polygon_10' data-name='Polygon 10' d='M9.5,0,19,9H0Z' transform='translate(19 9) rotate(180)'%3E%3C/path%3E%3C/svg%3E");
	background-position: calc(100% - 12px) center;
	background-repeat: no-repeat;
	background-size: 15px 7px;
	@media (min-width: 768px) {
		background-position: calc(100% - 20px) center;
	}
	.svg_element-ui {
		@include ab(50%, n, n, 10px);
		transform: translateY(-50%);
		pointer-events: none;
		display: none;
		@media (min-width: 768px) {
			right: 20px;
		}
		svg {
			width: 15px;
			height: 7px;
		}
	}
}
.rc-widget-injection-parent {
	flex: 0 0 100% !important; 
	max-width: 100% !important;
	.rc_widget__option__selector,
	.rc_popup {
		display: none;
	}
	.rc-selling-plans__label {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		white-space: nowrap;
		position: absolute;
	}
	.rc_widget__option__plans {
		// display: none !important;		
		padding: 0 !important;				
		> div {
			flex: 1;
			position: relative;
			&:after {
				content: '';
				width: 15px;
				height: 7px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.223' height='6.737' viewBox='0 0 14.223 6.737'%3E%3Cpath id='Polygon_12' data-name='Polygon 12' d='M7.111,0l7.111,6.737H0Z' transform='translate(14.223 6.737) rotate(180)'/%3E%3C/svg%3E");
				pointer-events: none;
				transform: translateY(-50%);
				@include ab(50%, n, n, 16px);			
			}
		}
		select {
			width: 100%;
			border-radius: 0;
			border-left: none;			
			border-right: none;
			border-top: none;
			line-height: 2.25rem;
			height: 45px;
			padding: 0 1.25rem;
			text-transform: uppercase;		
			@media (min-width: 768px) {				
				height: 47px;		
				padding-right: 2.5rem;
				font-size: calc(var(--body-font-size) - 1px);							
			}
		}		
	}
	.rc-option--active {
		.rc_widget__option__plans {
			display: block !important;
		}
	}
}
.product_short-desc {
	margin: 0 0 35px;
	p {
		margin: 0;
	}
}
.product-des-text {
	p {
		margin: 0 0 20px;
	}
	ul, ol {
		margin: 20px 0;
	}
	&.product-des-text-1 {
		h2 {
			margin-bottom: 15px;
			@media (min-width: 768px) and (max-width: 1220px) {
				font-size: 22px;
			}
		}
	}
	&.product-des-text-2 {
		ul {
			li {
				color: var(--main-color) !important;
			}
		}
	}	
}
.form-group {
	.quantity-container {
		@include border-top;
		@include border-bottom;		
		position: relative;
		margin-top: -1px;
		.qty-text {			
			text-transform: uppercase;
			@include ab(0, 1.25rem, n, n);
			height: 100%;
			display: flex;
			align-items: center;
			pointer-events: none;
			@media (min-width: 768px) {
				font-size: calc(var(--body-font-size) - 1px);
			}
		}		
	}
	.product-quantity {
		position: relative;		
		select {
			border: none;
			border-radius: 0;
			width: 100%;
			height: 43px;
			padding-left: 100px;			
			font-size: var(--body-font-size);
			@media (min-width: 768px) {
				padding-left: 115px;
				font-size: calc(var(--body-font-size) + 2px);
				height: 45px;
			}
		}
		.svg_element-ui {
			@include ab(50%, n, n, 10px);
			transform: translateY(-50%);
			pointer-events: none;
			@media (min-width: 768px) {
				right: 20px;
			}
			svg {
				width: 15px;
				height: 7px;
			}
		}
	}	
}
.control-subscribe-btn {
	display: flex;	
	// margin-top: 30px;
	margin-left: -1.625rem;
	margin-right: -1.625rem;
	max-width: calc(100% + 3.25rem);
	flex: 0 0 calc(100% + 3.25rem);	
	@include border-top;	
	@include border-bottom;	
	@media (min-width: 992px) {
		max-width: calc(100% + 6rem);
		flex: 0 0 calc(100% + 6rem);
		margin-left: -3rem;
		margin-right: -3rem;
	}
	@media (min-width: 1221px) {
		max-width: calc(100% + 8.126rem);
		flex: 0 0 calc(100% + 8.126rem);
		margin-left: -4.063rem;
		margin-right: -4.063rem;
	}
	.btn {
		flex: 1;
		border: none;
		border-radius: 0;
		height: 45px;
		line-height: 1.35;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		display: flex;		
		align-items: center;
		color: var(--btn1-cl);
		background: var(--btn1-bg-cl);
		border-color: var(--btn1-border-cl);
		@media (min-width: 768px) {
			font-size: calc(var(--body-font-size) - 1px);
		}		
		&:not(:last-child) {
			@include border-right;
		}			
		&.active {
			color: var(--btn1-hover-cl);
			background: var(--btn1-hover-bg-cl);
			border-color: var(--btn1-hover-border-cl);
			pointer-events: none;
		}	
	}
}
.gtk-tablet {
	@include border-top;
	padding: 28px 0 0;
	@media (min-width: 1400px) {
		display: none;
	}
	.product_short-desc {
		margin: 0;
		padding: 0 1.625rem;		
	}
}
.gtk-desktop {
	@media (max-width: 1399px) {
		display: none;
	}
	.product-gtk {
		margin: 0 -1.635rem;
		padding-top: 0;
		@media (min-width: 992px) {
			margin-left: -3rem;
			margin-right: -3rem;
		}
	}
}
.product-gtk {	
	padding: 0.938rem 1.625rem 1.625rem;		
	@media (min-width: 992px) {
		padding: 2.5rem 3rem;		
	}
	h4 {
		text-transform: uppercase;
		margin: 0 0 0.938rem;
	}
	.gtk-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;		
		list-style: none;
		@media (min-width: 768px) {
			font-size: var(--body-font-size);
		}
		li {
			flex: 0 0 50%;
			max-width: 50%;
			padding: 6px 15px;
			display: flex;		
			&:before {
				content: none;
			}	
			@media (min-width: 768px) {
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.icon {
				flex: 0 0 21px;
				max-width: 21px;
				margin: 2px 7.5px 0 0;
				height: 21px;
				svg {
					max-width: 100%;
					max-height: 100%;
				}
			}
			@media (min-width: 1200px) {
				flex: 0 0 33.333333%;
				max-width: 33.333333%;
			}
		}
	}
}
.related-product {
	.section_title-text-1 {
		text-transform: uppercase;
		@include font-size-small;
	}
	.skip-control {
		margin-top: auto;
		.btn {
			padding-left: 2.813rem;
			padding-right: 2.813rem;
		}
	}
	.section_content-wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		&:not(.section_content-wrapper-2) {
			.section_content-head,
			.section_content-body {
				flex: 0 0 100%;
				max-width: 100%;
				@media (min-width: 768px) {
					flex: 0 0 50%;
					max-width: 50%;
				}
			}			
			.slider-list {				
				.product-card {
					@media (max-width: 767px) {
						&:after {
							content: none !important;
						}
					}
				}
			}
		}	
		&.section_content-wrapper-2 {
			.section_content-head {
				flex: 0 0 100%;
				max-width: 100%;	
				@include border-top;
				border-bottom: none;
				&:after {
					content: none;
				}
				@media (min-width: 768px) {
					flex: 0 0 33.333333%;
					max-width: 33.333333%;
					border-top: none;
					&:after {
						// @include after-border;
					}
				}				
			}
			.section_content-body {
				flex: 0 0 100%;
				max-width: 100%;				
				position: relative;
				@media (min-width: 768px) {
					flex: 0 0 66.666666%;
					max-width: 66.666666%;					
					&:after {
						@include after-border;
					}
				}
			}			
		}	
		.section_content-head {
			@include border-top;
			position: relative;
			display: flex;
			flex-direction: column;
			padding: 30px 28px;
			@media (min-width: 768px) {
				border-top: none;
				padding: 35px 40px 2.5rem 40px;				
			}
			@media (min-width: 1400px) {
				padding-bottom: 3.375rem;
			}
		}
		.slider-wrapper {			
			.slider-item {
				&:not(:last-child) {
					.product-card {
						position: relative;
						&:after {
							@include after-border;
						}
					}
				}			
			}
		}
	}
}
.product-tab-contents {
	@include border-top;
	margin-top: -1px;
	// display: none;
	> h4 {
		text-transform: uppercase;
		text-align: center;
		line-height: 1.4;
		padding: 0.75rem 1.563rem;
		font-size: calc(var(--body-font-size) - 1px);
	}
	.faqs-item {
		&.active {
			.faqs-item-content {
				padding: 0;
			}
		}
	}
	.faqs-item-content {
		padding: 0;		
	}
	.paragraph-content {
		&:not(:last-child) {
			@include border-bottom;
		}
		.video-content {
			position: relative;
			padding-bottom: 100%;
			height: 0;
			overflow: hidden;	
			@media (min-width: 768px) {
				padding: 0;
				height: 100%;
			}
			iframe,
			video {
				max-width: 100%;
				display: block;				
				width: 100%;
				height: 100%;
				// pointer-events: none;
				border: none;
				object-fit: cover;
				@include ab(0, 0, n, n);
			}
		}
		&.fit-image {
			.video-content {				
				@media (min-width: 768px) {
					padding: 0;
					height: 100%;
				}
			}
			.image-item {
				@media (min-width: 768px) {					
					height: 100%;
					.image {						
						height: 100%;
					}
					.image__style {
						padding-top: 0 !important;						
						height: 100%;
						img {
							object-fit: cover;
						}						
					}
				}				
			}
		}
		.grid-md-2 {			
			.paragraph {
				@include border-bottom;
				margin-bottom: -1px;
				position: relative;
				padding: 1.875rem 1.563rem 5.625rem;
				@media (min-width: 992px) {
					padding: 4.25rem 3rem 12.5rem;
				}
				&:nth-child(2n + 1) {
					@media (min-width: 768px) {
						&:after {
							@include after-border;
						}
					}
				}
				&.paragraph-fit {					
					@media (min-width: 1440px) {
						min-height: 600px;
					}
				}
			}
			.paragraph-style-2 {		
				.paragraph {			
					padding: 1.625rem 1.625rem 2rem;												
					@media (min-width: 768px) {
						padding: 1.813rem 2rem 2.938rem;				
					}
								
				}
				.paragraph_item {
					p {						
						// font-size: var(--body-13);						
						// @media (min-width: 768px) {							
						// 	font-size: var(--body-font-size);								
						// }
						&:not(:last-child) {
							margin-bottom: 20px;						
							@media (min-width: 768px) {
								margin-bottom: 30px;								
							}
						}
					}
				}
				&.paragraph-fit {
					.paragraph {
						@media (min-width: 1440px) {
							min-height: 300px;
						}						
					}
				}
			}
		}
		.paragraph_title {										
			text-transform: uppercase;					
			margin-bottom: 18px;
			@include fw-600;
			@include font-size-small;				
		}
	}
	.grid-md-1 {
		> div {
			&:not(:last-child) {
				@include border-bottom;
			}
		}
		> .paragraph {
			padding: 1.875rem 1.563rem;
			@media (min-width: 768px) {
				padding: 3.313rem 3rem;
			}
		}
	}
	.grid-md-2 {
		> .custom-content__video,
		.image-item {	
			position: relative;		
			&:not(:last-child) {
				@include border-bottom;
				@media (min-width: 768px) {
					border: none;
					&:after {
						@include after-border;
					}
				}
			}
		}
	}
	.image-item {
		position: relative;
		.textbox {
			@include ab(0, 0, n, n);
			@include font-size-big;			
			padding: 1.563rem;
			@include fw-600;
			@media (min-width: 992px) {
				padding: 3rem;
			}
		}
	}	
}
.product-tab-contents-inner {
	@include border-top;	
	.faqs-item .care-item-heading {		
		font-weight: 500;
		.icon {			
			@media (min-width: 768px) {
				width: 40px;
				height: 40px;
				flex: 0 0 40px;
				max-width: 40px;
				svg {
					width: 18px;
					height: 18px;
				}				
			}
		}
	}
}
.spr-summary {
	display: flex;
	align-items: center;
	flex-wrap: wrap;	
	justify-content: center;
	@media (min-width: 768px) {
		justify-content: flex-start;
	}
}
#shopify-product-reviews {
	margin: 0 !important;
	.spr-icon.spr-icon-star-empty {
		opacity: 1;
	}
	.spr-review, .spr-form {
		@include border-top;
	}
	.spr-review-header-byline {
		font-style: normal;
		@include  font-normal;
		@media (min-width: 768px) {
			font-size: var(--body-font-size);
		}
		strong {
			font-weight: 400;
		}
	}
	.spr-review-content {
		font-weight: 400;
		margin: 0;
	}
	.spr-container {
		padding: 1.563rem 1.563rem 1.875rem;
		border: none;
		@media (min-width: 768px) {
			padding: 2.063rem 3rem 2.875rem;
		}
	}
	.spr-content {
		margin-left: -1.563rem;
		margin-right: -1.563rem;		
		@media (min-width: 768px) {
			margin-left: -3rem;
			margin-right: -3rem;			
		}
		.spr-form, .spr-review {
			padding-left: 1.653rem;
			padding-right: 1.653rem;
			@media (min-width: 768px) {			
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}
	}
	.spr-form {
		.new-review-form {
			fieldset {
				> div {
					display: flex;
					flex-wrap: wrap;					
					label {
						margin: 0 0 5px;						
						text-transform: uppercase;						
						color: var(--body-color);
						font-weight: 500;
						@include font-body;
						@include font-size-small;
						@media (min-width: 768px) {
							margin: 0;
							padding: 7px 15px 0 0;
							flex: 0 0 30%;
							max-width: 30%;
						}
						+ div {
							flex: 0 0 100%;
							@media (min-width: 768px) {
								flex: 1;
							}
						}
					}
					input, textarea {
						width: 100%;
						max-width: 545px;
					}
					textarea {
						height: 140px;
					}
				}
				.spr-form-review-rating {
					label {
						padding-top: 0;
					}
				}
			}
		}
	}
	.spr-header-title,
	.spr-form-title {
		text-transform: uppercase;
		font-weight: 500;
		@include font-size-small;
	}
	.spr-form-title {
		display: none;
	}
	.spr-form,
	.spr-review {
		margin-top: 2.188rem;
		padding-top: 2.188rem;
	}
	.spr-summary-actions {
		margin-left: auto;
		@media (max-width: 767px) {
			flex: 0 0 100%;
			max-width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 1.25rem;
		}
		.spr-summary-actions-newreview {
			@include fw-600;
			border-radius: 999px;
			transition: all 0.35s ease-in-out 0s;			
			padding: 10px 75px;
			font-weight: var(--btn1-fw);
			color: var(--btn1-cl);
			background: var(--btn1-bg-cl);
			border: calc(var(--btn1-border-width) * 1px) solid var(--btn1-border-cl);
			&:hover {
				@media (hover:hover) {      
				  color: var(--btn1-hover-cl);
				  background: var(--btn1-hover-bg-cl);
				  border-color: var(--btn1-hover-border-cl);
				}
			}
		}
	}
	.spr-form-contact-name, 
	.spr-form-contact-email, 
	.spr-form-contact-location, 
	.spr-form-review-rating, 
	.spr-form-review-title, 
	.spr-form-review-body {
		margin-bottom: 1.25rem;
		@media (min-width: 768px) {
			margin-bottom: 3rem;
		}
	}
	.spr-form-actions {
		.btn {
			width: 100%;
			max-width: 290px;
			height: 45px;
			font-size: var(--body-font-size);
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--btn1-hover-cl);
			background: var(--btn1-hover-bg-cl);
			border: calc(var(--btn1-border-width) * 1px) solid var(--btn1-hover-border-cl);
			&:hover {
				@media (hover:hover) {
					color: var(--btn1-cl);
					background: var(--btn1-bg-cl);
					border-color: var(--btn1-border-cl);  
				}
			}	
		}
	}
	.spr-review-footer {
		padding: 20px 0 0;
		display: none;
		.spr-review-reportreview {
			font-size: var(--body-font-size);
			line-height: 1.4;
		}
	}
}
.ss-step-1 {
	.rc-widget-injection-parent {
		// visibility: hidden;
	}
	.previous-page {
		// display: none;
	}
	.product-des {
		&:not(.product-des-step-1) {
			// display: none;
		}
	}	 
}
.ss-step-2 {
	.form-group:not(.form-group-btn) {
		// display: none;
	}
	.product-des {
		&:not(.product-des-step-2) {
			// display: none;
		}
	}
}
.step-3-heading {	
	.section_title-text-1 {
		@include custom-block-heading;
	}	
	.section_title-wrapper {
		margin: 0;
		+ .btn {		
			margin: 23px 25px;	
			display: none;			
		}
	}
}
.slider-list {
	display: flex;
	.product-card {
		@media (min-width: 768px) {
			&:after {
				@include after-border;
			}
		}
	}
	.tns-slide-active:first-child {
		@media (max-width: 768px) {
			.product-card {
				&:after {
					@include after-border;
				}
			}
		}
	}
}
.shopify-section-product-template {
	.btn-next-step {
		&:not(.active) {
			// display: none;
		}
	}
}
.shopify-section-product-template,
.shopify-section-product-recommendation {
	// visibility: hidden;
	// height: 0;	
	// &.active {
	// 	height: auto;
	// 	visibility: visible;
	// }
}
#slider-product-thumbnails-media-mw {
	.media-thumbnails {
		.media-item {
			.image__style {
				padding-top: 100% !important;
			}
		}			
	}
}
.template-preorder {
	.product-wrapper .form-group-btn {		
		padding-left: 1.625rem;
		padding-right: 1.625rem;
		margin-top: 0;
		@media (min-width: 992px) {			
			padding-left: 3rem;
			padding-right: 3rem;
		}
		@media (min-width: 1221px) {
			padding-left: 4.063rem;
			padding-right: 4.063rem;			
		}
	}
	.terms-cond {
		border-top: 1px solid var(--body-border-color);
		border-bottom: 1px solid var(--body-border-color);
		padding: 1.875rem 1.625rem;
		margin-left: -1.625rem;
		margin-right: -1.625rem;
		flex: auto;
		max-width: inherit;
		margin-top: 1.5rem;
		@media (min-width: 992px) {
			padding: 2.625rem 3rem;  
			margin-left: -3rem;
			margin-right: -3rem;
			margin-top: 3rem;
		}
		@media (min-width: 1221px) {
			padding: 3.3rem 4.063rem;
			margin-left: -4.063rem;
			margin-right: -4.063rem;
		}
		.content {
			p {
				margin: 5px 0 27px;
				@media (max-width: 767px) {
					margin-bottom: 15px;
				}
			}
		}
		.checkbox-container {
			display: flex;
			align-items: center;
			input {
				width: 21px;
				height: 21px;
				padding: 0;				
				border-radius: 0;
				margin-right: 10px;
				-webkit-appearance: auto;
				-moz-appearance: auto;
				appearance: auto;
			}
			label {
				margin: 0;
				user-select: none;
				font-size: calc(var(--body-font-size) - 2px);
			}
		}
	}
	.product-wrapper {
		@media (max-width: 767px) {
			padding-bottom: 14px;
			.product-price-step {
				margin-top: 19px;	
			}
		}		
	}
}