.page-blog {
	.page_wrapper {
		> h1 {
			@include custom-block-heading;
		}
	}
	.blog-metafield {
		@include border-bottom;
		.card_section-item {
			position: relative;
			&:not(:last-child) {
				@include border-bottom;
				@media (min-width: 768px) {
					border-bottom: none;
					&:after {
						@include after-border;
					}
				}
			}
			.card_section-figure {
				a {
					display: block;
				}
			}
			.card_section-body {
				@include ab(50%, 50%, n, n);	 
				transform: translate(-50%, -50%);
				z-index: 2;	 	
				padding: 1.625rem;
				text-align: center;
				width: 100%;
				max-width: 530px;
				@media (min-width: 1200px) {			
					padding: 3rem;
				}		
			}
			.card_section-text-1 {		
				margin: 0 0 8px;	
				text-transform: uppercase;	
				@include fw-600;
				@include font-size-big;
			}
			.card_section-text-2 {
				line-height: 1.6;
				font-size: var(--body-13);
				margin: 0 0 10px;
				@media (min-width: 992px) {			
					font-size: 22px;
					line-height: 30px;
					margin-bottom: 11.3px;
				}
			}
			.btn {
				@include custom-btn;
			}
		}
	}
}
.article-content_header_image {
	position: relative;
	@include border-bottom;
	.title {
		@include font-size-big;
		@include ab(50%, 50%, n, n);
		transform: translate(-50%, -50%);		
		padding: 0 1.625rem;	
		text-transform: uppercase;	
	}
	.image {
		.image__style {
			padding-top: calc(100vh - 40px) !important;
			img {
				object-fit: cover;
			}
		}
	}
}
.article-content_header_back {
	@include border-bottom;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.563rem 1.625rem;
	@media (min-width: 768px) {
		padding: 2rem 3rem;
	}
	.btn {
		@include custom-btn;
	}
	.published_at {
		text-transform: uppercase;
		@include font-small;
		@include fw-600;		
	}
}
.blog-list-content {
	@include border-bottom;
	&:empty {
		display: none;
	}
}
.article-content_body {
	> div {
		@include border-bottom;
		&:empty {
			display: none;
		}
	}
}
.article-content {
	.article-content {
		padding: 1.625rem 1.625rem;
		@media (min-width: 768px) {
			padding: 3rem;
		}
		&:empty {
			display: none;
		}
		p {
			max-width: 1335px;			
			margin: 0;
			@include font-size-big;
			&:not(:last-child) {
				margin-bottom: 1.25rem;
				@media (min-width: 768px) {
					margin-bottom: 2.188rem;
				}
			}
		}
	}
}
.content-mt-textbox {
	padding: 1.625rem;
	@media (min-width: 768px) {
		padding: 3rem;
		.textbox-item {
			padding-left: 50%;
		}
	}
	h3 {
		@include font-size-small;
		text-transform: uppercase;
		margin-bottom: 1.25rem;
		@media (min-width: 768px) {
			margin-bottom: 1.563rem;
		}
	}
	p {
		@include font-size-small;
		font-weight: 400;
		margin: 0;
		&:not(:last-child) {
			margin-bottom: 1.25rem;
			@media (min-width: 768px) {
				margin-bottom: 1.563rem;
			}
		}
	}
}
.content-mt-image_2 {
	&.grid-md-2 {
		.image-item {
			position: relative;
			&:not(:last-child) {
				@include border-bottom;
				@media (min-width: 768px) {
					border-bottom: none;
					&:after {
						@include after-border;
					}
				}
			}
		}
	}
}
.comment-content {
	padding: 1.625rem 1.625rem 1.25rem;
	@media (min-width: 768px) {
		padding: 3rem 3rem 2.5rem;
	}
	.comment-content_title {
		text-transform: uppercase;
		@include font-size-small;
	}
}
#comment_form {
	padding: 0 1.625rem 1.625rem;
	text-align: center;
	@media (min-width: 768px) {
		padding: 0 3rem 3rem;
	}
	.input-group {
		margin: 0 0 1.875rem;
		textarea {
			display: block;
		}
	}
	.btn {
		// height: clamp(1.875rem, 2.8vw, 3.375rem);
		width: 100%;
		max-width: 320px;
		margin: 0 auto;		
		height: 1.855rem;
		@media (min-width: 768px) {
			height: 3.5rem;
		}
	}
}
.form-headline {
	margin: 0 0 1.875rem;
	@media (min-width: 768px) {
		margin-bottom: 2.5rem;
	}
	.title {
		@include font-size-small;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	.subtitle {
		@include font-size-small;
	}
}