.article-content_header_image {
	position: relative;
	@include border-bottom;
	.title {
		@include font-size-big;
		@include ab(50%, 50%, n, n);
		transform: translate(-50%, -50%);		
		padding: 0 1.625rem;	
		text-transform: uppercase;	
	}
}
.article-content_header_back {
	@include border-bottom;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.563rem 1.625rem;
	@media (min-width: 768px) {
		padding: 2.625rem 4rem;
	}
	.published_at {
		text-transform: uppercase;
		@include font-heading;		
	}
}
.blog-list-content {
	@include border-bottom;
}
.article-content_body {
	> div {
		@include border-bottom;
	}
}
.article-content {
	.article-content {
		padding: 1.625rem 1.625rem;
		@media (min-width: 768px) {
			padding: 4.063rem;
		}
		p {
			max-width: 1780px;
			font-size: clamp(1.875rem, 2.6vw, 3.125rem);
			margin: 0;
			&:not(:last-child) {
				margin-bottom: 1.625rem;
				@media (min-width: 768px) {
					margin-bottom: 3.75rem;
				}
			}
		}
	}
}
.content-mt-textbox {
	padding: 1.625rem;
	@media (min-width: 768px) {
		padding: 4rem;
	}
	h3 {
		@include font-size-medium;
		text-transform: uppercase;
		margin-bottom:1.25rem;
		@media (min-width: 768px) {
			margin-bottom: 2.125rem;
		}
	}
	p {
		@include font-size-small;
		margin: 0;
		&:not(:last-child) {
			margin-bottom:1.25rem;
			@media (min-width: 768px) {
				margin-bottom: 2.125rem;
			}
		}
	}
}
.content-mt-image_2 {
	&.grid-md-2 {
		.image-item {
			position: relative;
			&:not(:last-child) {
				@include border-bottom;
				@media (min-width: 768px) {
					border-bottom: none;
					&:after {
						@include after-border;
					}
				}
			}
		}
	}
}
.comment-content {
	padding: 1.625rem 1.625rem 1.25rem;
	@media (min-width: 768px) {
		padding: 4rem 4rem 2.5rem;
	}
	.comment-content_title {
		text-transform: uppercase;
		@include font-size-medium;
	}
}
#comment_form {
	padding: 0 1.625rem 1.625rem;
	text-align: center;
	@media (min-width: 768px) {
		padding: 0 4rem 4rem;
	}
	.input-group {
		margin: 0 0 1.875rem;
		textarea {
			display: block;
		}
	}
	.btn {
		height: clamp(1.875rem, 2.8vw, 3.375rem);
		width: 100%;
		max-width: 320px;
		margin: 0 auto;		
	}
}
.form-headline {
	margin: 0 0 1.875rem;
	@media (min-width: 768px) {
		margin-bottom: 2.5rem;
	}
	.title {
		@include font-size-medium;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	.subtitle {
		@include font-size-small;
	}
}