html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-size: var(--body-base-size);
  font-display: optional;
}

body {
  line-height: 1.4;
  background: var(--body-bg-color);
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing:antialiased;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  user-select: none;
  &:not(.template-index) {
    .footer {
      @include border-top;      
    }
  }
}
#main-content {
  margin-bottom: -1px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:before, &:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
:focus {
  outline: none;
}
body, select, input, textarea {
  font-size: var(--body-13);
  font-family: var(--ff-body);
  font-weight: var(--body-font-weight);
  color: var(--body-color);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @media (min-width: 768px) {
    font-size: var(--body-font-size);
  }
}
a {
  text-decoration: none;
  color: var(--body-link);
  transition: all 0.2s ease-in-out 0s;
  &:focus {
    outline: none;
  }

  &:hover {
    @media (hover:hover) {
      text-decoration: none;
    }
  }
}

p {
  margin: 20px 0;
}

ul, ol, dl {
  margin: 0;
}

ul, li, ol {
  list-style: none;
}

ul {
  padding: 0;
  list-style: disc inside none;
}

ol {
  padding: 0;
  list-style: decimal inside none;
}
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
  color: var(--main-color);
  button {
    order: 2;
    font-size: 30px;
    color: inherit;
    @include font-normal;
  }
}
small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25rem;
}

sup {
  top: -.5rem;
}

label {
  display: inline-block;
  margin-bottom: 8px;
}
.pointer, .slide_ui-controls--dot button, .tns-nav button {
  cursor: pointer;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.req {
  color: red;
}
video {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  background: none;
  transition: all .35s ease-in-out 0s;

  &:focus {
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
  }
}

form {
  display: block;
  margin: 0;
}

select, input, textarea {
  background: none;
  appearance: none;
}

select:focus, input:focus, textarea:focus {
  outline: none;
}
select, input {
  width: 100%;
  border: 1px solid var(--body-border-color);
  border-radius: 999px;
}

select {
  max-width: 100%;
  padding: 0 var(--gutter-md);
  // line-height: clamp(1.875rem, 3vw, 3.5rem);
  line-height: 1.855rem;
  @media (min-width: 768px) {
    line-height: 2.5rem;
  }
}

input, textarea {
  padding: 0.313rem 1.5rem;
  @media (min-width: 768px) {
    padding: 0.625rem 2.125rem;
  }
}

input:focus, textarea:focus {
  border: 1px solid rgba(var(--main-color-rgba), 0.5);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder, input::-moz-placeholder, textarea::-moz-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #BBBDC3;
}
input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {  
  height: 1.855rem;
  @media (min-width: 768px) {
    height: 2.5rem;
  }
}
input[type=number] {
  -moz-appearance: textfield;
}
textarea {
  width: 100%;
  height: 16.875rem;
  border: 1px solid var(--body-border-color);
  border-radius: 10px;
}
.shopify-challenge__container {
  margin: 3.75rem auto;
  .shopify-challenge__button {
    color: var(--btn1-cl);
    background: var(--btn1-bg-cl);
    height: 3.125rem;
  }
}
.overflow-hidden {
  overflow: hidden;
  .header-style-2 {
    .header-desktop {
      padding-right: 17px;
    }
  }
}
.tns-autowidth {
  vertical-align: top;
}
.is-loading {
  display: none;
}
.pending {
  pointer-events: none;
  * {
    font-size: 0;
  }
  span {
    display: none;
  }
  .is-loading {
    display: block;
  }
}
.svg-loading {
  display: none;
}
svg path, svg g, svg circle {
  transition: all 0.2s ease-in-out 0s;
}
.pending, .lazyloading {
  .svg-cart, .svg-close {
    display: none;
  }
  .svg-loading {
    display: block;
  }
}
.menu-list .menu-item .lazyloading svg {
  width: 20px;
  height: 20px;
}
.spr-icon {
  color: var(--rating-star-color);
}
.spr-icon-star-empty {
  color: var(--rating-star-empty-color);
}
.spr-badge-caption {
  font-size: 12px;
  color: var(--body-second-color);
  @include margin-start(5px);
  @media (min-width: 768px) {
    font-size: var(--body-13);
  }
}
.spr-badge[data-rating="0.0"] {
  .spr-badge-caption {
    display: none;
  }
}
.shopify-payment-button {
  width: 100%;
  button {
    height: 44px;
    background: var(--btn2-bg-cl);
    color: var(--btn2-cl);
    border-radius: 0;
    &:hover {
      color: var(--btn2-hover-cl);
      background: var(--btn2-hover-bg-cl) !important;
    }
    &[aria-hidden="true"] {
      display: none;
    }
  }
}
.sb-progress {
  height: 18px;
  background: #707070;
  margin: 0 0 10px;
  .sb-progress-bar {
    background: #222;
    display: block;
    color: #fff;
    padding: 0 10px;
    text-align: center;
    line-height: 19px;
    height: 100%;
    padding: 0 10px;
    text-align: center;
    transition: width 0.4s ease-out;
    background-image: linear-gradient(to top right, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    animation: move 2s linear infinite;
  }
}
.rating {
  svg {
    width: 18px;
    height: 18px;
  }
  .svg-star-solid path {
    fill: var(--rating-star-color);
  }
  .svg-star path {
    fill: var(--rating-star-empty-color);
  }
}
.js-tns:not(.tns-carousel) {
  overflow: hidden;
  flex-wrap: nowrap;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: start !important;
}

.text-right {
  text-align: end !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-underline {
  text-decoration: underline !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vertical_align-top {
  align-items: flex-start;
  align-self: flex-start;
}

.vertical_align-middle {
  align-items: center;
  align-self: center;
}

.vertical_align-bottom {
  align-items: flex-end;
  align-self: flex-end;
}
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 1px 35px;
  line-height: 25px;  
  font-size: calc(var(--body-13) - 1px);
  text-transform: uppercase;
  border-radius: 999px;
  transition: all 0.35s ease-in-out 0s;
  @include font-heading;
  @media (min-width: 768px) {
    padding: 7px 35px;
    line-height: 24px;    
    font-size: var(--body-font-size);
  }
}
.btn-1 {
  font-weight: var(--btn1-fw);
  color: var(--btn1-cl);
  background: var(--btn1-bg-cl);
  border: calc(var(--btn1-border-width) * 1px) solid var(--btn1-border-cl);  
  svg {
    path {
      stroke: var(--btn1-cl);
      fill: var(--btn1-cl);
    }
  }
  &:hover {
    @media (hover:hover) {      
      color: var(--btn1-hover-cl);
      background: var(--btn1-hover-bg-cl);
      border-color: var(--btn1-hover-border-cl);
    }
  }
}

.btn-2 {
  font-weight: var(--btn2-fw);
  color: var(--btn2-cl);
  background: var(--btn2-bg-cl);
  border: calc(var(--btn2-border-width) * 1px) solid var(--btn2-border-cl);
  &:hover {
    @media (hover:hover) {
      color: var(--btn2-hover-cl);
      background: var(--btn2-hover-bg-cl);
      border-color: var(--btn2-hover-border-cl);
    }
  }
}

.btn-3 {
  font-weight: var(--btn3-fw);
  color: var(--btn3-cl);
  background: var(--btn3-bg-cl);
  border: calc(var(--btn3-border-width) * 1px) solid var(--btn3-border-cl);
  &:hover {
    @media (hover:hover) {
      color: var(--btn3-hover-cl);
      background: var(--btn3-hover-bg-cl);
      border-color: var(--btn3-hover-border-cl);
    }
  }
}
.animation-fade {
  animation: animation-bottom-top 0.6s both;
}
#collections-listing {
  padding: var(--gutter-lg) 0 60px;
  .page-heading {
    margin-bottom: 40px;
  }
  .category {     
    margin-bottom: 18px;
    box-shadow: 0 0 3px 0 #f5f5f5;
    @extend %transition;
    &:hover {
      @media (hover:hover) {
        box-shadow: 0 0 5px 0 #c6c6c6;
      }
    }
  }
  .collection-title {
    padding: 20px 0;
    font-size: 18px;
    strong {
      font-weight: var(--font-body-weight);
    }
  }
}
#back-to-top {
  @include fixed(n,n,5%,20px);
  z-index: layer(back-to-top);
  @extend %transition;
  opacity: 0;
  visibility: hidden;
  width: 40px;
  padding: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border-radius: 2px;
  &.show {
    visibility: visible;
    opacity: 1;
    bottom: 60px;
  }
  a {
    padding: 10px;
    svg {
      position: relative;
      top: -1px;
      width: 14px;
      height: 14px;
      path {
        fill: #fff;
      }
    }
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  &.img-lazy {
    position: absolute;
    left: 0;
    top: 0;
  }
  &.lazyload:not([src]) {
    opacity: 0;
  }
}

.image--style {
  position: relative;
  display: block;

  img.img_lazy {
    object-fit: cover;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.quantity-product input[type="number"] {
  -moz-appearance: textfield;
}

.overlay-ui {
  position: absolute;
  left: 0;
  top: 0;
  word-break: break-word;
}

.f-break {
  padding: 0 var(--gutter-xs);
  width: 100vw !important;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  flex: 0 0 100vw;
  max-width: 100vw;
}

.placeholder-svg {
  background: rgba(var(--main-color-rgba), 0.1);
  display: flex;
}

.svg-element-ui {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--body-second-color);
  a {
    color: var(--body-second-color);
  }
  svg {
    width: 22px;
    height: 22px;
  }
}

.is-sliding {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.tns-inner .tns-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.media-thumbnails:not(.tns-carousel), .media-main:not(.tns-carousel) {
  >div {
    display: none;
    &:first-child {
      display: block;
    }
  }
}
.product-media_thumbnails .media-thumbnails:not(.tns-carousel) {
  >div {
    display: inline-block;
    width: 20%;
    &:nth-child(n + 6) {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .product-media_thumbnails .media-thumbnails:not(.tns-carousel) {
    >div {
      display: inline-block;
      width: 100%;
    }
  }
  .product-template:not(.template-no-sidebar) {
    .product-media_thumbnails .media-thumbnails:not(.tns-carousel) {
      >div {
        width: 20%;
        &:nth-child(n + 6) {
          display: none;
        }
      }
    }
  }
}
.slide-flex-preload.slide_ui-element:not(.tns-slider) {
  display: flex;
}
.section_content-body .tns-inner .product-section {
  @include padding-start(0);
}

.boxed-wapper {
  iframe {    
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
.as-track-button .aftership-poweredBy {
  margin-top: 15px;
}

/*pangination*/
.slideshow-dot {
  @include ab(n,n,20px,n);
  z-index: 11;
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    margin: 0 5px;
    .circle {
      width: 16px;
      height: 16px;
      @extend %radius-circle;
      border: 2px solid var(--body-bg-color);
      display: block;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    }
    &.tns-nav-active .circle {
      box-shadow: none;
      border-color: var(--main-color);
    }
    &:hover, &.tns-nav-active {
      .circle {
        background: var(--main-color);
      }
    }
  }
}
/*end pangination*/

/*tns control*/
.js-slider-controls {
  display: none; 
  @media (min-width: 768px) {
    display: block;
  }
  a {
    z-index: layer(js-tns-controls);
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: -20px;
    align-items: center;
    justify-content: center;
    top: 0%;
    background: var(--body-second-color);
    @extend %radius-circle;
    path {
      fill: var(--miscellaneous-color);
    }
    &[aria-disabled="true"] {
      opacity: 0.7;
      display: none;
    }
  }
  .js-prev-button {
    @include ab(50%,0,n,n);
    svg {
      @include margin-start(-1px);
    }
  }
  .js-next-button {
    @include ab(50%,n,n,0);
  }  
}
.tns-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;  
  button {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.469rem;
    border: 1px solid var(--body-border-color);
    position: relative;
    @extend %radius-circle;
    &:hover, &.tns-nav-active {
      background: var(--body-border-color);
    }
  }
}
/*end tns control*/

/*featured categories*/
.featured_block-category {
  .menu_list-wrapper {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 6px 0;
      a {
        line-height: 23px;
        font-size: var(--body-13);
        color: var(--body-second-color);
      }
      &:hover {
        a {
          color: var(--main-color);
        }
      }
      .number {
        background: var(--body-border-color);
        font-size: 12px;
        padding: 2px 3px;
        border-radius: 2px;
        margin-left: 12px;
      }
      .expand {
        position: relative;
        display: inline-block;
        margin-top: -2px;
        width: 18px;
        height: 18px;
        cursor: pointer;
        &:after {
          content: '';
          @include ab(8px,n,n,0);
          display: inline-block;
          width: 10px;
          height: 2px;
          background-color: var(--body-second-color);
        }
        &:before {
          content: '';
          @include ab(4px,n,n,4px);
          display: inline-block;
          transition: all .2s ease-out;
          width: 2px;
          height: 10px;
          background-color: var(--body-second-color);
        }
        &.is-open {
          &:before {
            transform: rotate(90deg);
          }
        }
      }
      .dropdown-menu {
        width: 100%;
        transition: 0.2s all ease;
        overflow: hidden;
        display: none;
        li {
          @include padding(6px, 0, 6px, 18px);
          a {
            &:before {
              content: "-";
              display: inline-block;
              width: 15px;
            }
          }
        }
        &.is-open {
          display: block;
        }
      }
    }
  }
}
/*end featured categories*/

/*featured product*/
.product-card {
  position: relative;
  height: 100%;  
  .product-card_header {
    position: relative;    
  }
  .imageCrop-true {
    .product-card_image img {
      object-fit: cover;
    }
  }
  .product-card_body {
    padding: 0 1.125rem 0.625rem; 
    @include ab(n, 0, 0, 0);   
    @media (min-width: 768px) {      
      padding: 0 1.875rem 2.5rem;
    }
    @media (min-width: 1400px) {
      padding: 0 2.813rem 3.375rem;
    }
  }
  .btn {    
    @include custom-btn;
    @media (max-width: 410px) {
      width: 100%;
      max-width: 160px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;      
    }
  } 
  &.style-2 {
    .product-card_body {
      @media (max-width: 767px) {
        position: static;
        padding: 0.75rem 1.563rem 1.063rem;
      }
    }
  }
}
.product-card_name {  
  margin: 0;
  text-transform: uppercase;
  @include font-heading;
  @include font-size-small;
}
.product-card_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  margin: 0 0 8px;  
  p {
    margin: 0;
  }
}
.product-price {
  color: var(--price-color);
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: var(--body-13);
  @include font-heading;  
  > span:not(:last-child) {
    @include padding-end(7px);
  }
}
.price-sale {
  color: var(--price-sale-color);
  font-weight: 600;
  font-size: 16px; 
}
.price-compare {
  font-weight: 400;
  color: var(--price-compare-color);
  font-size: 14px; 
}
/*end featured product*/

/*featured collection*/
.featured_block .sb-title {
  margin: 0 0 6px;
  font-size: var(--heading-size-h5);
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  .filter-clear {
    text-transform: capitalize;
    font-weight: var(--body-font-weight);
    span:before {
      bottom: -18px;
    }
    svg {
      height: 18px;
    }
  }
}
/*end featured collection*/

/*label*/
.label_ui-group {
  @include ab(0,0,n,n);
  >span {
    border-radius: 0;
    padding: 1px 10px 3px;
    min-width: 63px;
    line-height: 20px;
    position: relative;
    font-size: var(--body-13);
  }
  .label_ui-sale:before {
    border-bottom: 4px solid var(--sale-lb-bgcl);
  }
  .label_ui-hot:before {
    border-bottom: 4px solid var(--hot-lb-bgcl);
  }
  .label_ui-new:before {
    border-bottom: 4px solid var(--new-lb-bgcl);
  }
}
.label_ui {
  margin: 0 0 5px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.label_ui-hot {
  color: var(--hot-lb-cl);
  background: var(--hot-lb-bgcl);
}
.label_ui-new {
  color: var(--new-lb-cl);
  background: var(--new-lb-bgcl);
}
.label_ui-sale {
  color: var(--sale-lb-cl);
  background: var(--sale-lb-bgcl);
}
/*end label*/

/*widget social*/
.widget-social-icons {
  display: flex;
  li {
    @include margin-end(15px);
    svg {
      width: 20px;
      height: 20px;
      display: block;
    }
  }
  .svg-facebook-square {
    path {
      fill: #3b5a9a;
    }
  }
  .svg-instagram-square {
    path {
      fill: #b22e9b;
    }
  }
  .svg-pinterest-square {
    path {
      fill: #e11a21;
    }
  }
  .svg-youtube-square {
    path {
      fill: #d72928;
    }
  }
  .svg-twitter-square path {
    fill: #28a9e2;
  }
  .svg-vimeo-square {
    color: #0facb6;
  }
}
.share-links {
  margin: 16px 0;
  .social-list {
    align-items: center;
    flex-wrap: wrap;
  }
  .social-item {
    margin: 4px 8px 4px 0;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      padding: 5px 17px;
      border-radius: 4px;
      span {
        margin-top: 1px;
        margin-left: 6px;
      }
      &:hover {
        color: #000;
      }
    }
  }
  .social-title {
    margin: 0 12px 0 0;
    width: 100%;
  }
  @media (min-width: 768px) {
    .social-list {
      flex-wrap: nowrap;
    }
    .social-title {
      width: auto;
    }
  }
}
.item-facebook {
  a {
    background: rgba(24, 38, 119, 0.1);
    color: #182677;
  }
}
.item-twitter a {
  background: rgba(47, 128, 237, 0.1);
  color: #2F80ED;
}
.item-pinterest a {
  background: rgba(224, 74, 57, 0.1);
  color: #E04A39;
}
/*end widget social*/

/*modal*/
.modal {
  display: flex;
  align-items: center;
  @include fixed(0,0,0,0);
  margin: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all ease-in-out;
  z-index: layer(modal-cart-notify);
  &.is-open {
    opacity: 1;
    visibility: visible;

    .modal_box {
      transform: scale(1);
    }
  }
  .modal_box {
    transform: scale(0.8);
  }
  .modal_wrapper {
    margin: 0 auto;
  }
  .modal_close {
    @include ab(0,n,n,0);
    width: 32px;
    height: 32px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-miscellaneous);
    svg {
      color: var(--text-miscellaneous);
      width: 11px;
      height: 11px;
      path {
        fill: var(--text-miscellaneous);
      }
    }
  }
  .modal_overlay {
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    @include fixed(0,0,n,n);
  }
  .modal_box {
    background: var(--miscellaneous-color);
    padding: 1.25rem;
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    margin: 0 auto;
    position: relative;
    transition: 0.2s all ease-in-out;
    @media (min-width: 768px) {
      padding: 2.5rem;
    }
  }
  @media (min-width: 768px) {
    .modal_close {
      top: -32px;
    }
  }
}
/*end modal*/

/*currency-language*/
.modal-currency-vs-language {
  .modal_box {
    width: 280px;
    font-weight: 500;
    overflow: visible;
    padding: 30px 25px;
    @media (min-width: 375px) {
      width: 320px;
    }
    * {
      color: var(--body-color);
    }
    svg path {
      fill: var(--body-color);
    }
    select {
      padding: 0 10px;
    }
    .select-group {
      position: relative;
      margin-bottom: 30px;
      svg {
        @include ab(n,n,n,10px);
        width: 9px;
        height: 100%;
        pointer-events: none;
      }
    }
    .modal_close {
      svg {
        width: 11px;
        height: 11px;
      }
    }
  }
  .modal_header {
    font-size: var(--heading-size-h4);
    margin-bottom: 15px;
    padding-bottom: 12px;
    @include border-bottom;
  }
  .modal_content {
    label {
      text-transform: capitalize;
      font-size: var(--heading-size-h5);
    }
    >div:last-child {
      margin-bottom: 0;
    }
  }
}
/*end currency-language*/

/*cart notify*/
.modal-cart-notify {
  .headline {
    margin: 0 0 30px;
    @include padding-end(15px);
    svg {
      width: 12px;
      height: 12px;
      @include margin-end(7px);
      position: relative;
      top: 1px;
    }
  }
  .modal_product {
    display: flex;
    margin-bottom: 25px;
    .modal_product_image {
      align-items: center;
      @include margin-end(10px);
      img {
        width: 100px;
      }
    }
    .modal_product_title {
      font-size: var(--product-item-name);
      font-weight: 500;
      margin: 0 0 8px;
    }
    .modal_product_variant {
      margin-bottom: 8px;
      font-size: 15px;
    }
    .modal_product_qty {
      font-size: 15px;
      margin-bottom: 8px;
      strong {
        @include margin-end(8px);
      }
    }
    .option {
      display: block;
      color: var(--color-second);
      font-size: var(--body-13);
      margin-top: 8px;
    }
    .modal_product_price {
      font-size: 15px;
      strong {
        @include margin-end(8px);
      }
    }
  }
  .modal_action {
    padding: 20px 0 10px;
    @include border-top;
    .modal_number {
      font-size: 15px;
      display: inline-block;
      margin-bottom: 8px;
      @include padding-end(15px);
    }
    .modal_subtotal {
      display: inline-block;
      font-size: var(--product-item-price);
      strong {
        @include margin-end(15px);
      }
    }
  }
  .wrap-progress {
    margin: 30px 0;
  }
  .modal_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .modal_continue {
      margin-bottom: 20px;
    }
    >div {
      width: 100%;
      text-align: center;
      a {
        width: 100%;        
        padding-left: 30px;        
        padding-right: 30px;
      }
    }
  }
  @media (min-width: 768px) {
    .modal_box {
      padding: 30px;
      width: 680px;
      overflow: visible;
    }
    .modal_product {
      .modal_product_image {
        @include margin-end(30px);
        img {
          width: 120px;
        }
      }
    }
    .modal_action {
      .modal_number {
        margin-bottom: 15px;
        width: 49.5%;
      }
      .modal_subtotal {
        width: 49.5%;
        text-align: right;
      }
    }
    .modal_button {
      flex-wrap: nowrap;
      .modal_continue {
        margin-bottom: 0;
      }
      >div {
        width: auto;
      }
    }
  }
}
/*end cart notify*/

/*popup newsleter*/
.modal-newsletter {
  .modal_box {
    width: 100%;
    padding: 15px;
  } 
  .modal_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .image {
      width: 100%;
      display: none;
    }
    .content {
      width: 100%;
      text-align: center;
      padding: 25px 10px;
    }
    .heading {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .subheading {
      margin-bottom: 30px;
      font-size: var(--body-13);
    }
    .newsletter-form {
      form {
        display: flex;
        input {
          @include border-inline-end(0);
          @extend %radius-reset;
        }
      }
      .btn-text {
        display: flex;
        align-content: center;
        justify-content: center;
      }
      .btn {
        @extend %radius-reset;
        padding: 0 20px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    .social {
      margin-top: 40px;
      margin-bottom: 10px;
    }
    .widget-social-icons {
      justify-content: center;
      li svg {
        width: 35px;
        height: 35px;
      }
    }
  }
  @media (min-width: 768px) {
    .modal_box {
      max-width: 750px;
      width: 100%;
      overflow: visible;
    }
    .modal_content {
      .image {
        width: 46%;
        display: block;
      }
      .content {
        width: 54%;
        padding: 30px 35px;
        @include padding-end(20px);
      }
    }
  }
  @media (min-width: 992px) {
    .modal_box {
      max-width: 100%;
      width: 840px;
    }
    .modal_content .heading {
      font-size: var(--heading-size-h1);
    }
  }
}
/*end popup newsleter*/

/* cart sidebar*/
.form_wrapper::-webkit-scrollbar-track {
  @extend %webkit-scrollbar-track;
}
.form_wrapper::-webkit-scrollbar {
  @extend %webkit-scrollbar;
}
.form_wrapper::-webkit-scrollbar-thumb {
  @extend %webkit-scrollbar-thumb;
}
.cart-list {
  overflow: hidden;
}
.cart-item {
  display: flex;  
  @include border-bottom;
  .image {         
    @include border-right;
    flex: 0 0 50%;
    max-width: 50%;
    @media (min-width: 360px) {
      max-width: 180px;
      flex: 0 0 180px;      
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .option {
    display: block;
    color: var(--color-second);
    font-size: var(--body-13);
    margin-top: 8px;
  }  
  .btn-remove {
    border: 1px solid var(--color-second);
    flex: 0 0 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-second);
    margin: 1.25rem 0.938rem;
    @extend %radius-4px;
    svg {
      width: 12px;
      height: 12px;
    }
  }
  .info {    
    flex: 1;
    min-width: 0;
    padding: 0.938rem;
    @media (min-width: 480px) {
      padding: 1.25rem;      
    }
    p {
      margin: 0;
    }
    .name,
    .money {
      text-transform: uppercase;
      font-size: var(--body-13);
      @include font-normal;
    }
    .qty {      
      text-transform: uppercase;
      margin-top: 10px;
      input {
        width: 40px;
        height: 100%;
        border: 0;
        padding: 0;
        text-align: center;        
      }
    }
  }
}
.drawer {
  &.drawer-cart .form_wrapper {
    max-height: calc(100vh - 203px);
    @media (min-width: 992px) {
      max-height: calc(100vh - 210px);
    }
  }
}
.drawer-cart {
  display: flex;
  .btn-remove {    
    .svg-loading {
      display: none;
    }
    &.pending {
      .svg-loading {
        display: block;
      }
    }
  }
  .lazy-drawer-cart {
    @include fixed(0,n,0,0);
    width: 95%;
    @include translateX(100%);
    background: var(--body-bg-color);
    z-index: layer(lazy-drawer-cart);
    transition: 0.3s all ease-in-out;
    display: flex;
    justify-content: center;
    height: 100%;
    section {
      display: block;
      height: 100%;
      width: 100%;
    }
    form {
      width: 100%;
    }
    .empty {
      padding: 35px 0;
    }
  }
  .form_wrapper {
    overflow-y: auto;
    max-height: calc(100vh - 336px);
  }
  &.is-open {
    .lazy-drawer-cart {
      transform: translateX(0);
      transition: 0.3s all ease-in-out;
    }
    .cart-list {
      @extend %animation-active;
    }
    .drawer_overlay {
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,.6);
      position: fixed;
      left: 0;
      top: 0;
      z-index: layer(drawer_overlay);
    }
  }
  .svg-loading {
    display: block;
  }
  .btn-close {
    @include ab(0,0,0,n);
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 13px;
      height: 13px;
    }
  }
  .drawer_header {      
    position: relative;
    display: block;
    padding: 13px 15px;
    background: var(--main-color);
    color: var(--text-miscellaneous);
    text-transform: uppercase;
    font-weight: 500;
    a {
      color: inherit;
    }
    svg path {
      fill: var(--text-miscellaneous);
    }
  }  
  .info {    
    flex: 1;
    min-width: 0;
    padding: 0.938rem;
    @media (min-width: 480px) {
      padding: 1.25rem;      
    }
    p {
      margin: 0;
    }
    .name,
    .money {
      text-transform: uppercase;
      font-size: var(--body-13);
      @include font-normal;
    }
    .qty {
      color: var(--color-second);
      text-transform: uppercase;
      margin-top: 10px;
      input {
        width: 40px;
        height: 100%;
        border: 0;
        padding: 0;
        text-align: center;
        color: var(--color-second);
      }
    }
  }
  .form-bottom {    
    @include ab(n,0,0,0);
    .sb-text {
      font-size: var(--body-13);     
    }
    .buttons {
      display: block;
      padding: 2.063rem;
      @include border-top;
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;        
        height: 44px;
        font-size: calc(var(--body-font-size) - 2px);
      }
    }
  }  
  .cart-total {
    padding: 0.938rem 2.063rem;
    margin-top: 20px;    
    @include border-top;
    display: flex;    
    justify-content: space-between;
    @include text-custom; 
  }
  @media (min-width: 360px) {
    .lazy-drawer-cart {
      width: 360px;
    }
  }
}
/*end cart sidebar*/
/*cart dropdown*/
.header-cart {
  &:hover {
    @media (hover:hover) {      
     .header-cart_dropdown {
      opacity:1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
.lazy-dropdown-cart {
  >.svg-loading {
    display: block;
  }
}
.cart-empty {
  display: none;
}
&[data-items="0"] {
  .lazy-dropdown-cart {
    display: none;
  }
  .cart-empty {
    display: block;
    padding: 1.875rem;        
  }
}
}
.header-cart_dropdown {
  @include ab(100%, n, n, 0);
  @extend %transition;
  @include visibility-hidden;
  @include border-top;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: layer(header-cart_dropdown);
  background: var(--body-bg-color);   
  transform: translateY(10px);  
  width: 360px;
  max-width: 100vw; 
  padding-bottom: env(safe-area-inset-bottom);   
  @media (min-width: 361px) {
    border-left: 1px solid var(--body-border-color);    
  }
  .pending {
    .svg-loading {
      display: block;
    }
  }
  .form_wrapper {
    max-height:  calc(100vh - 14.313rem);
    overflow-y: auto; 
    @media (min-width: 768px) {
      max-height:  calc(100vh - 19rem);
    }
  }
  .header-cart_wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 2.5rem);
    padding: 0 0 9.375rem;
    background: var(--body-bg-color);       
    @media (min-width: 992px) {
      height: calc(100vh - 5rem);
      padding-bottom: 11.563rem;
    }    
  }
  .title {   
    padding: 0.625rem 1.5rem;   
    line-height: 1.4;
    @include border-bottom;    
    @include text-custom;
  }
  .cart-list {
    overflow: hidden;
  }
  .cart-item {    
    .quantity {
      color: var(--color-second);
      margin-top: 8px;
    }
  }
  .subtotal {
    padding: 0.625rem 1.5rem;    
    line-height: 20px; 
    @include border-top;
    display: flex;
    justify-content: space-between;    
    @include text-custom;        
  }
  .action {
    @include ab(n, 0, 0, 0);
    .action_buttons {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 1.563rem 3.125rem;
      @include border-top;
      @media (min-width: 768px) {
        padding: 1.5rem 1.5rem 5.313rem;
      }
      a {
        width: 100%;        
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.938rem;
        height: 34px;
        font-size: var(--body-13);
        @include font-body;             
      }
    }
  }
  @media (min-width: 1025px) {
    display: flex;
  }
}
/*end cart dropdown*/

/*page 404*/
.page-404 {
  .page-content {
    margin: 0 auto;
    max-width: 460px;
  }
  .page-text-content {
    margin: 30px 0 60px;
    h1 {
      font-size: 130px;
      font-weight: 400;
      color: #d0d0d0;
      margin-bottom: 25px;
      line-height: 1.2;
    }
    h2 {
      line-height: 1.65;
      font-size: 24px;
    }
    p {
      margin: 0 0 45px;
      font-size: var(--body-13);
      color: var(--color-second);
      line-height: 1.9;
    }
  }
  .form-group {
    display: flex;
    input {
      background: var(--miscellaneous-color);
    }
    .btn {
      @include margin-start(12px);
    }
  }
  .homepage-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 60px;
    .svg_element-ui {
      line-height: 10px;
      @include margin-end(5px);
    }
    svg {
      width: 11px;
      height: 11px;
    }
    &:hover {
      @media (hover:hover) {  
        color: var(--main-color);
        svg {
          fill: var(--main-color);
        }
      }
    }
  }
  @media (min-width: 768px) {
    .page-text-content {
      h1 {
        font-size: 180px;
      }
      h2 {
        font-size: 36px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
/*end 404*/

/* sidebar */
@media (min-width: 992px) { 
  div #sidebarDrawer {
    position: unset;
    width: 100%;
    height: auto;
    transition: none;
    margin-bottom: 30px;
    .section_content-wrapper {
      padding: 0;
    } 
    .section_content-body {
      overflow: hidden;
      max-height: 100%;
      padding: 0;
    }
  }
}
/* end sidebar */
.shopify-section {
  @include border-bottom;
}
#shopify-section-cart-template,
#shopify-section-page-faq-template,
#shopify-section-page-sustainability-template,
#product-template,
#shopify-section-page-blog-template,
#shopify-section-product-template,
#shopify-section-collection-template,
#shopify-section-product-recommendation {
  border-bottom: none;
}