#shopify-section-footer-widget {
	border-bottom: none;
}
.footer {	
	margin-top: auto;
	.card_footer-item {
		padding: 1.938rem 1.5rem;
		@media (min-width:1200px) {
			padding: 2.625rem 2.813rem 10.188rem;	
		}		
		&:not(:last-child) {
			@include border-bottom;
			@media (min-width: 768px) {
				border-bottom: none;
				@include border-right;
			}			
		}
	}
	.card_footer-title,
	.card_footer-title {
		margin: 0 0 0.938rem;
		text-transform: uppercase;	
		@include font-heading;
		@include letter-spacing;			
	}
	.menu_list-wrapper {
		@include font-small;
		li {
			a {
				display: inline-block;
				line-height: 2;
				text-transform: uppercase;
			}
			&:not(:last-child) {
				margin-bottom: 0.313rem;
			}
		}
	}
	.home-newsletter {
		.main__text-2 {
			@include font-small;
			text-transform: uppercase;			
			margin-bottom: 25px;				
			&:before {
				content: '';
				width: 0.313rem;
				height: 0.313rem;
				border-radius: 50%;
				background: #FF5800;
				float: left;
				margin: 0.313rem 0.625rem 0 0;
				@media (min-width: 768px) {
					width: 0.516rem;
					height: 0.516rem;
					margin: 0.313rem 0.625rem 0 0;
				}
			}
		}
		.btn {
			width: 100%;
			// height: clamp(1.875rem, 3vw, 3.5rem);
			display: block;
			margin-top: 15px;
			height: 1.855rem;
			@media (min-width: 768px) {
				margin-top: 20px;
				height: 2.625rem;
			}
		}
	}
}