.announcement-bar {		
	position: relative;
	.announcement-bar-close {
		@include ab(50%, n, n, 15px);
		transform: translateY(-50%);
		padding: 7px;
		border-radius: 50%;
		cursor: pointer;
		svg {
			width: 13px;
			height: 13px;
			display: flex;
		}
	}
	.annoubar-column {
		text-transform: uppercase;
		@include font-small;  
		display: flex;
		align-items: center;
		line-height: 18px;
		padding: 11px 0;
		.menu-list {
			display: flex;
			flex-wrap: wrap;
			li {
				padding: 0 10px;
				&:first-child {
					padding-inline-start: 0;
				}
			}
		}
		p {
			margin: 0;
			text-align: center;
			padding: 0 15px;
			@media (min-width: 768px) {
				padding-left: 38px;
				padding-right: 38px;
			}
		}
		svg {
			width: 14px;
			height: 14px;
		}
		.account {
			display: flex;
			align-items: center;
			>a {
				padding: 0px 12px;
				display: flex;
			}
			.account-action {
				a[href="/account/register"] {
					margin-inline-start: 6px;
					padding-inline-start: 8px;
					border-left: 1px solid currentColor;
				}
			}
			>a {
				svg {
					@include margin-end(5px)
				}
			}
		}
		.annoubar-item {
			// display: flex;			
		}
		.currency-with-language {
			padding: 0 12px;
			height: 14px;
			margin-top: -1px;
			a {
				height: 14px;
				display: block;
			}
		}
	}
}
#shopify-section-announcement-bar {
	@media (max-width: 991px) {
		border-bottom: none;
	}
}