/*header*/
#shopify-section-header-colors,
#shopify-section-main-mega-menu {
  border: none;
}
.header-sticky {
  .header-content_top {
    @include fixed(0,0,n,0);    
    @include border-top;
    @include border-bottom;
    z-index: layer(header-sticky);    
    animation: animation-top-bottom .5s both;  
  } 
}
.header-container {
  .header-content_top {   
    .wrapper {
      display: flex;      
    }
    .container {
      @media (max-width: 991px) {
        padding: 0;        
        .header-cart > a, .header-hamburger-icon , .header-account-icon > a,.header-mobile-icons > .header-hamburger, .header-mobile-icons > a {
          width: 68px;
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid var(--body-color);
        }
      }
    }
    .header-mobile-icons {
      display: flex;
      position: relative;      
      @media (max-width: 339px) {
        flex: 1;
        > div {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          > a {
            max-width: 100%;
            width: auto !important;
          }
        }
      }      
    }
    .header-hamburger-icon a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
  .header-right {    
    display: flex;    
  }
  .group-lc-wrapper {    
    flex: 0 0 33.333333%;
    max-width: 33.33333%;    
    .group-lc_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 38px;
      cursor: pointer;
      padding: 5px;
      .lc_icon {
        border: none;
        padding: 0;
        height: 100%;
        line-height: 100%;
        color: inherit;
        text-transform: uppercase;
        @include font-small;
      }
      @media (hover : hover) {
        &:hover {
          background: var(--main-color);
          color: var(--text-miscellaneous);
          .group-lc_dropdown {
            @include visibility-visible;
          }
        }
      }
    }
    .group-lc_dropdown {
      @include ab(100%, n, n, 0);
      @extend %transition;
      @include visibility-hidden;      
      width: calc(100% + 1px);
      background: var(--body-bg-color);
      display: flex;
      border: 1px solid var(--body-color);
      border-right: 0;
      color: var(--body-color);    
      .lc_dropdown {
        text-transform: uppercase;
        @include font-small;       
        &:nth-child(1) {
          flex: 0 0 calc( 66.666667% + 1px);
          max-width: calc( 66.666667% + 1px);
          @include border-right;
        }
        &:last-child {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
        }       
        ul {
          li {
            padding: 5px 10px;
            line-height: 20px;
            cursor: pointer;
            @extend %transition;
            a {
              display: block;
            }
            @media (hover : hover) {
              &:hover {
                color: var(--main-color);
                a {
                  color: var(--main-color);
                }
              }
            }
            &.active {
              background: #EDEDED;
              cursor: auto;
              color: var(--body-color);              
              a {
                pointer-events: none;
                color: inherit;
              }
            }
          }
        }
      }
    }
    .lc-heading {
      @include border-bottom;
      padding: 10px 5px 10px 10px;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        padding-right: 10px;
        @media (min-width: 992px) and (max-width: 1399px) {
          font-size: 1vw;
        }
      }
    }
  }  
  .number {
    @include ab(3px,50%,n,n);
    width: 16px;
    height: 16px;
    background: var(--main-color);
    color: var(--text-miscellaneous);    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-left: 3px;
    @extend %transition;
    @extend %radius-circle;
  }  
  .header-icons {
    display: flex;
    align-items: center;  
    flex: 0 0 66.666666%;
    max-width: 66.666666%;    
    > .header-account-icon, .header-cart, > a {
      flex: 0 0 50%;
      max-width: 50%;      
    }
    > a, > .header-account-icon > a, .cart-icon {
      min-height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-left: 1px solid var(--body-color);
      svg {        
        @media (min-width: 992px) {
          width: 15px;
          height: 15px;
        }
      }      
    }  
    > a {
      @media (hover: hover) {
        &:hover {
          background: var(--main-color);                      
          color: var(--text-miscellaneous);
          svg {
            color: var(--text-miscellaneous) !important;
          }
        }
      }
    }   
  }
  .header-account-icon {        
    .header-account_dropdown {
      @include ab(100%, n, n, 0);
      @extend %transition;
      @include visibility-hidden;
      @include border-top;
      width: 100vw;    
      height: 100vh;  
      background: var(--body-bg-color);      
      @media (min-width: 768px) {         
        border-left: 1px solid var(--body-color);          
        width: calc(200% + 1px);
      }
      .ha-content {        
        .ha-dropdown {
          display: none;
        }
        &.active {
          .ha-dropdown {
            display: block;
          }          
        }
      }
      .ha-heading {
        font-size: var(--body-13);
        text-transform: uppercase;
        line-height: 18px;
        padding: 0.625rem 1.813rem;
        cursor: pointer;
        @include border-bottom;
        user-select: none;
        font-weight: 400;        
      }
      .ha-dropdown {
        padding: 1.875rem 2.938rem;        
        @media (min-width: 768px) {
          padding: 1.563rem 1.625rem;
        }  
        &:not(.ha-forgotpass-dropdown) {
          @include border-bottom;
        }
        .form-control {
          input {
            padding: 0.625rem 1.438rem;
          }
          input, .btn {
            height: 30px;
            text-transform: uppercase;
            font-size: var(--body-13);
            width: 100%;
            font-weight: 400;
            @media (min-width: 768px) {
              height: 34px;
            }
          }          
          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:not(:last-child) {
            margin-bottom: 0.875rem;            
          }         
        }   
        .text-note {
          @include border-top;
          margin-left: -2.938rem;
          margin-right: -2.938rem;
          margin-top: 1.719rem;
          padding: 1.875rem 2.938rem 0;   
          font-size: var(--body-13);          
          font-weight: 400;     
          @media (min-width: 768px) {
            margin-left: -1.625rem;
            margin-right: -1.625rem;
            margin-top: 1.875rem;
            padding: 1.125rem 1.625rem 0;            
          }
        }             
        .alert-error {
          color: #0f63ff;
          font-size: var(--body-13);          
          padding-bottom: 10px;
          font-weight: 400; 
        }
      }
    }
    @media (hover : hover) {
      &:hover {
        > a {
          background: var(--main-color);                      
          color: var(--text-miscellaneous);
          svg {
            color: var(--text-miscellaneous) !important;
          }
        }
        .header-account_dropdown {
          @include visibility-visible;
        }
      }
    }
    &.active {
      > a {
        background: var(--main-color);
        color: var(--text-miscellaneous);
        svg {
          color: var(--text-miscellaneous) !important;
          path, circle {
            stroke: var(--text-miscellaneous) !important;
          }
        }
      }
      .header-account_dropdown {
        @include visibility-visible;
      }
    }
  }
  .header-cart {    
    .cart-icon {
      display: flex;
      position: relative;
      >svg {        
        @media (min-width: 992px) {
          width: 15px;
          height: 15px;
        }
      }
    }
    @media (hover : hover) {
      &:hover {
        > a {
          background: var(--main-color);
          color: var(--text-miscellaneous);
          .number {
            background-color: white !important; 
            color: black !important;
          }
          svg {
            color: var(--text-miscellaneous) !important;
            path, circle {
              stroke: var(--text-miscellaneous) !important;
            }
          }
        }
      }
    }
    &.active {
      .header-cart_dropdown {
        @include visibility-visible;
        display: block;
        transform: translateY(0);
      }
    }
  }  
  .header-hamburger-icon {
    position: relative;
    .btn-close {
      @include visibility-hidden;
      @include ab(50%, 50%, n, n);
      transform: translate(-50%, -50%);

    }
    &.active {
      background: var(--main-color);
      svg {
        color: var(--text-miscellaneous) !important;
        path {
          fill: currentColor;
        }
      }
      .btn-close {
        @include visibility-visible;
      }
      .header-hamburger {
        @include visibility-hidden;
      }
    }
  }
  .horizontal-nav {
    >.menu-list {
      display: flex;
      align-items: center;
      justify-content: center;
      >li {
        position: relative;        
        flex: 1;      
        >a {          
          color: inherit;          
          position: relative;
          padding: 0 5px;
          min-height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 100%;       
          @include font-small;        
          @media (max-width: 1100px) {
            font-size: 11px;
          }    
        }
        &:not(#sign-up-save) {
          > a {
            text-transform: uppercase;
          }
        }
        &:not(:last-child) {
          &:after {
            content: '';
            background: var(--body-color);
            width: 1px;
            @include ab(0, n, 0, 0);
          }
        }
        &.sign-up-save a {
          font-size: var(--body-13);  
          @media (max-width: 1100px) {
            font-size: 11px;
          }
        }        
        &:hover {          
          > a {
            background: var(--main-color);    
          }      
          >a, >.svg_element-ui path {
            color: var(--text-miscellaneous);
          }
          >.svg_element-ui path {
            fill: var(--text-miscellaneous) !important;
            stroke: none !important;
          }
        }
      }
    }
  }
  .header-logo {         
    @media (max-width: 991px) {
      margin-right: auto;
      padding-left: 17px;
      padding-right: 17px;
      flex: 0 0 137px;
      max-width: 137px;     
    }
    >a {
      display: flex;
      justify-content: center;    
      align-items: center; 
      height: 100%; 
      min-height: 38px;
      width: 100%;
      svg {
        max-height: 100%;
      }
      @media (min-width: 992px) {
        padding: 5px;        
        svg path {
          stroke: none !important;
          fill: currentColor;
        }
        @media (hover : hover) {
          &:hover {
            background: var(--main-color);                      
            color: var(--text-miscellaneous);
            svg {
              color: var(--text-miscellaneous) !important;
            }
            svg path {
              stroke: none !important;
              fill: var(--text-miscellaneous) !important;
            }
          }                    
        }
      }
    }
  }
  .header-nav {
    flex: 1;
    min-width: 0;
  }  
}
.header-mobile {  
  .cart-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .menu-item {
    &:not(.dropdown-submenu)>.js-toggle-menu {
      display: none;
    }
  }
  .menu-list {
    height: 100%;  
    max-height: calc(100vh - 3.063rem);
    padding-bottom: 6.875rem;  
    overflow-y: auto;
    >li {
      flex-wrap: nowrap;      
      padding: 0 20px;
      font-weight: 500;
      &.title {
        text-align: center;
        background: var(--main-color);        
        position: relative;
        border: 0;
        a {
          text-transform: uppercase;
          font-size: 16px;
          @include fw-600;
          width: 100%;
          display: block;
        }
         >.js-toggle-menu {
          display: flex;
         }
      }
      &.currency-language {
        @include ab(n, 0, 0, 0);        
        padding: 0;        
        .currency-language-form {
          background: #EDEDED;
          padding: 3px 20px;
          @include border-top;
          position: relative;          
          label {
            font-size: 0.75rem;
            color: var(--main-color);
            margin: 0;
            position: absolute;
            top: 10px;
            left: 20px;
            pointer-events: none;
          }
          select {
            border: none;
            border-radius: 0;
            padding: 15px 1.563rem 0 0;
            text-transform: uppercase;
            line-height: 33px;
            font-size: var(--body-13);
          }
          .select-group {
            position: relative;
            svg {
              @include ab(50%, n, n, 0);
              transform: translateY(-50%);
              pointer-events: none;
            }
          }
        }
      }
      &:not(:last-child) {
        @include border-bottom;
      }     
    }
    .svg_element-ui {
      width: 100%;
      height: 40px;
      max-width: 40px;
      margin: 0;
      justify-content: flex-end;
    }
    .btn-close {
      background: var(--miscellaneous-color);
      opacity: .9;
      justify-content: center;
      @include ab(n,n,n,15px);
      margin-top: -1px;
      display: none;
      svg {
        width: 13px;
        height: 13px;
        left: -1px;
      }
    }
    .btn-back {
      @include ab(n,15px,n,n);
      background: var(--miscellaneous-color);
      justify-content: center;
      opacity: .9;
      svg {
        width: 13px;
        height: 13px;
        left: -1px;
      }
    }
  }
  .header-hamburger {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    svg {
      width: 26px;
      height: 26px;
    }
  }
  .header-mobile__horizontal {    
    @extend %transition;
    @include visibility-hidden;    
    @include fixed(48px,0,0,0);
    background: var(--body-bg-color);            
    padding-bottom: env(safe-area-inset-bottom);
    &.is-open {
      @include visibility-visible;
    }
    .dropdown-menu {
      @include translateX(-100%);
      @extend %transition;
      top: 0;
      height: 100%;
      background: var(--body-bg-color);
      &.is-open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
}

.lazy-mobile-bar.lazyload {
  @include fixed(n,0,0,0);
  z-index: layer(mobile-bar);
}
.mobile-bar {
  @include fixed(n,0,0,0);
  z-index: layer(mobile-bar);
  transition: 0.2s all ease-in-out;
  .mobile-bar_list {
    background: var(--main-color);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  }
  .mobile-bar_item {
    flex: 1;
    height: 100%; 
    &:not(:last-child) {
      @include border-inline-end(1px solid var(--body-color));
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .mobile-bar_wrapper {
      position: relative;
      height: 24px;
    }
    .number {
      @include ab(-8px,n,n,-12px);
      width: 18px;
      height: 18px;
      background: #eee;
      line-height: 18px;
      text-align: center;
      display: block;
      font-size: 12px;
      @extend %transition;
      @extend %radius-circle;
    }
    .show-wishlist, .show-compare {
      >span {
        position: relative;
        display: flex;
      }
    }
  }
  .home {
    svg{
      width: 28px;
      height: 28px;
    }
  }
  .language-vs-currency {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
/*end header*/

/* search */
.results {
  display: none;
  border: 1px solid var(--body-color);
  .btn-view-all {
    display: block;
    text-align: center;
    background: var(--main-color);
    color: var(--text-miscellaneous);
    padding: 10px 15px;
  }
}
.no-result {
  padding: 20px 15px;
  display: none;
}
.no-results {
  .no-result {
   display: block;
 }
}
.has-results {
  .results {
    display: block;
  }
}
.has-results {
  .results::-webkit-scrollbar-track {
    @extend %webkit-scrollbar-track;
  }
  .results::-webkit-scrollbar {
    @extend %webkit-scrollbar;
  }
  .results::-webkit-scrollbar-thumb {
    @extend %webkit-scrollbar-thumb;
  }
  .results {
    overflow-y: auto;
    max-height: calc(100vh - 180px);
  }
  .result-item {    
    display: flex;
    align-items: center;
    padding: 15px;
    @include border-bottom;
    img {
      max-width: 60px;
      width: 100%;
    }
    .result-info {
      @include padding-start(15px);
      width: 100%;
      .result-price {
        font-size: var(--body-13);
        margin-top: 5px;
        del {
          @include margin-start(8px);
          color: var(--price-compare-color);
        }
      }
    }
    .match {
      @include fw-600;
      color: var(--main-color);
    }
  }
}
.drawer-search {
  .drawer_overlay {
    @include fixed(0,0,n,0);
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: layer(drawer_overlay-search);
  }
  .drawer-wrapper {
    @include fixed(0,n,n,0);
    height: 100%;
    width: 100%;
    padding: 25px 20px;
    background: var(--miscellaneous-color);
    @include translateX(100%);
    visibility: hidden;
    opacity: 0;
    @extend %transition;
    z-index: layer(drawer-search);
    @media (min-width: 768px) {
      width: 450px;
    }
  }
  &.is-open {
    .drawer-wrapper {      
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    .drawer_overlay {
      opacity: 1;
      visibility: visible;
    }
  }
  &.has-results {
    .products {
      max-height: 463px;
    }
  }
  .drawer__header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    @include border-bottom;
    margin-bottom: 30px;
    padding-bottom: 20px;
    a {
      width: 30px;
      height: 22px;
      @include text-right;
    }
    svg {
      width: 14px;
      height: 14px;
    }
  }
  .form-search {
    display: flex;
    .btn {
      padding: 0;
      width: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .results {
    border-top: 0;
  }
  .svg-search {
    display: flex;
  }
  .pending {
    .svg-search {
      >svg:first-child {
        display: none;
      }
    }
  }  
}
/* end search */