.home-slideshow {	
	.slider-wrapper {
		position: relative;
	}
	.slider-item {
		position: relative;
	}
	.slide-banner {
		@include border-bottom;
		position: relative;
		@media (min-width: 768px) {
			border-bottom: 0;
			&:after {
				@include after-border;
			}
		}
	}
	.slide-content-wrapper {
		.slide-content-inner {
			padding: 24px 25px 80px;
			@media (min-width: 768px) {
				padding: 54px 48px 100px;
			}			
		}
		.content-text-1 {
			@include font-size-big;
			margin-bottom: 20px;
			text-transform: uppercase;
			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 22px;
			}
			@media (min-width: 768px) {
				margin-bottom: 40px;
			}
		}
		.content-text-2,
		.content-text-3 {
			@include font-size-small;
			margin-bottom: 20px;
			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 17px;
			}
			@media (min-width: 768px) {
				margin-bottom: 30px;
			}
		}
	}
	.slide-content-inner >div {
		animation-fill-mode: backwards;
		animation-iteration-count: 1;
	}		
	.js-slider-controls {
		@include ab(n, 0, 0, n);
		padding: 25px;
		z-index: 9;
		display: flex;		
		@media (min-width: 768px) {
			padding: 54px 48px 50px;
			left: 50%;			
		}
		> a {
			@include custom-btn;
			text-transform: uppercase;
			border-radius: 999px;			
			display: flex;
			height: 30px;
			align-items: center;
			width: auto;			
			margin: 0;
			position: static;
			opacity: 1;
			font-weight: var(--btn1-fw);
			color: var(--btn1-cl);
			background: var(--btn1-bg-cl);
			border: calc(var(--btn1-border-width) * 1px) solid var(--btn1-border-cl); 
			svg {
				display: none;
			}
			&:not(:last-child) {
				margin-right: 12px;
			}
			&:hover {
				@media (hover:hover) {      
				  color: var(--btn1-hover-cl);
				  background: var(--btn1-hover-bg-cl);
				  border-color: var(--btn1-hover-border-cl);
				}
			  }
		}
	}
	.js-slider-dots {
		@include ab(n, n, 2.5rem, n);
		display: flex;
		justify-content: center;
		width: 100%;
		a {
			width: 1.125rem;
			height: 1.125rem;
			margin: 0 0.625rem;			
			border: 1px solid var(--body-border-color);
			@extend %radius-circle;
			position: relative;
			&:hover, &.tns-nav-active {
				background: var(--body-border-color);
			}
		}
	}
}